.humburger
  $humburger: &
  display: flex
  align-items: center
  justify-content: center
  width: 32px
  height: 32px
  padding: 5px
  outline: none
  svg
    width: 100%
    height: 100%
  &__close
    display: none
  &.is-active
    #{$humburger}
      &__close
        display: block
      &__open
        display: none
