.awward
  padding: 40px
  background-color: $g-color-primary-blue-light
  &__inner
    display: flex
    align-items: flex-start
    max-width: 100%
    width: 1020px
    margin: 0 auto
  &__image
    flex-shrink: 0
    margin-right: 56px
  &__title
    font-family: $g-font-family-type-merri
    font-size: pxtorem(32)
    font-weight: 700
    margin-bottom: 12px
  &__text
    font-size: pxtorem(18)
    line-height: 1.8

@media (max-width: $g-breakpoint-desktop)
  .awward
    padding: 24px

@media (max-width: $g-breakpoint-tablet)
  .awward
    padding: 40px 16px
    &__inner
      flex-direction: column
    &__image
      width: 40%
      margin: 0 auto 16px
    &__title
      font-size: pxtorem(24)
    &__text
      font-size: pxtorem(16)
