mixin awward
  .awward
    .awward__inner
      .awward__image
        img(src="assets/images/awward.png")
      .awward__box
        h3.awward__title We are the best!
        p.awward__text Мы получили сертификат качества от TripAdvisor - крупнейшего в мире сайта о путешествиях. Эта награда присуждается компаниям, которые стабильно получают высокие оценки на TripAdvisor. Поэтому мы хотим поблагодарить всех наших гостей за поддержку и отзывы. Без вас ничего бы не было. Спасибо!
