mixin rating
  .rating.fgrid.fgrid_rating&attributes(attributes)
    .rating__item
      img.rating__icon(src="assets/images/rating/afisha.svg")
      h5.rating__name 7.1
    .rating__item
      img.rating__icon(src="assets/images/rating/trip.svg")
      h5.rating__name 4/5
    .rating__item
      img.rating__icon(src="assets/images/rating/google.svg")
      h5.rating__name 5/5
    .rating__item
      img.rating__icon(src="assets/images/rating/yandex.svg")
      h5.rating__name 4.5/5
