.rating
  &__item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 24px
    background-color: $g-color-bg-grey
    text-align: center
  &__name
    font-family: $g-font-family-type-mono
    font-size: pxtorem(32)
    font-weight: 600


@media (max-width: $g-breakpoint-desktop)
  .rating
    &__item
      padding: 8px
    &__name
      font-size: pxtorem(24)

@media (max-width: $g-breakpoint-tablet)
  .rating
    &__icon
      width: 60%
      margin: auto
