.line
  position: relative
  padding: 40px 0
  &::before,
  &::after
    position: absolute
    left: 0
    display: block
    height: 2px
    width: 100%
  &_top
    &::before
      content: ''
      top: 0
      background-image: url('../images/line/line-top.png')
  &_bottom
    &::after
      content: ''
      bottom: 0
      background-image: url('../images/line/line-bottom.png')


@media (max-width: $g-breakpoint-tablet)
  .line
    padding: 20px 0
