// HIDDEN ARROW INPUT NUMBER
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

/* Firefox */
input[type=number]
  -moz-appearance: textfield

// HIDDEN ARROW INPUT NUMBER end

html
  font-family: $g-font-family-base
  font-size: $g-font-size-base
  line-height: $g-line-height-base
  font-weight: $g-font-weight-base
  color: $g-color-dark-text

a
  &:not(.not-link)
    transition: color $g-transition-duration
    &:hover
      color: $g-color-accent-red

img
  max-width: 100%

.page
  overflow-x: hidden


.main
  padding: 32px 0 80px
