mixin faq()
  .faq&attributes(attributes)(data-faq)
    .faq__head(data-faq-head)
      span
        block
      i.icon.icon_fill.faq__icon
        svg(viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M0.185737 1.18524C0.433387 0.923931 0.834906 0.923931 1.08256 1.18524L6 6.37387L10.9174 1.18524C11.1651 0.923931 11.5666 0.923931 11.8143 1.18524C12.0619 1.44654 12.0619 1.87021 11.8143 2.13151L6.44841 7.79328C6.20076 8.05458 5.79924 8.05458 5.55159 7.79328L0.185737 2.13151C-0.0619124 1.87021 -0.0619124 1.44654 0.185737 1.18524Z")
    .faq__body(data-faq-body)
      p Имеется спорная точка зрения, гласящая примерно следующее: непосредственные участники технического прогресса будут преданы социально-демократической анафеме. Кстати,  акционеры крупнейших компаний освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объективно рассмотрены соответствующими инстанциями. Как принято считать, сторонники тоталитаризма в науке, вне зависимости от их уровня, должны быть функционально разнесены на.
