.faq
  position: relative
  $faq: &
  &.is-active
    z-index: 1
    #{$faq}
      &__body
        height: 260px
        visibility: visible
      &__head
        background-color: $g-color-primary-blue
        color: $g-color-white
      &__icon
        transform: rotate(-180deg)
        path
          fill: $g-color-white
  &__head
    display: flex
    align-items: center
    justify-content: space-between
    padding: 8px 16px
    background-color: $g-color-bg-grey
    min-height: 60px
    font-family: $g-font-family-type-merri
    font-weight: 700
    cursor: pointer
  &__icon
    padding: 4px
    margin-left: 32px
  &__body
    position: absolute
    top: 100%
    left: 0
    width: 100%
    visibility: hidden
    padding: 16px
    height: 0
    overflow-y: auto
    background-color: $g-color-bg-grey
    line-height: 1.5


@media (max-width: $g-breakpoint-desktop)
  .faq
    $faq: &
    &.is-active
      z-index: 1
      #{$faq}
        &__body
          height: auto
          padding: 16px
    &__body
      position: static
      padding: 0
