.button
  display: inline-flex
  align-items: center
  justify-content: center
  padding: 8px 20px
  outline: none
  cursor: pointer
  transition: all $g-transition-duration
  text-decoration: none
  &_accent
    background-color: $g-color-accent-red
    color: $g-color-white
    font-weight: 500
    font-family: $g-font-family-type-oswald
    &:hover
      background-color: darken($g-color-accent-red, 8%)
  &_grey
    background-color: $g-color-bg-grey
    font-weight: 500
    font-family: $g-font-family-type-oswald
    &:hover
      background-color: darken($g-color-bg-grey, 8%)
  &_promo
    padding: 8px 24px
    background-color: $g-color-white
    border-radius: 100px
    font-size: pxtorem(14)
    &:hover
      background-color: darken($g-color-white, 8%)
  &_mini
    padding: 8px 16px
  &_center
    display: flex
    margin-left: auto
    margin-right: auto


@media (max-width: $g-breakpoint-tablet)
  .button
    &_promo
      padding: 4px 12px
