.menu
  &__grid
    display: flex
  &__item
    page-break-inside: avoid           /* Theoretically FF 20+ */
    break-inside: avoid-column         /* IE 11 */
    overflow: hidden
    margin-bottom: 32px
    &:last-of-type
      margin-bottom: 0
  &__box
    display: flex
    flex-wrap: wrap
    margin-bottom: 16px
    font-size: pxtorem(14)
    &:last-child
      margin-bottom: 0
  &__description
    width: 100%
  &__price
    font-family: $g-font-family-type-oswald
    font-weight: 500
    font-size: pxtorem(18)
    width: 90px
    margin-bottom: 8px
    text-align: right
  &__name
    font-family: $g-font-family-type-merri
    font-weight: 700
    font-size: pxtorem(16)
    width: calc(100% - 90px)
    margin-bottom: 8px
    span
      text-transform: uppercase
      color: $g-color-accent-yellow
  &__title
    font-family: $g-font-family-type-oswald
    font-weight: 600
    font-size: pxtorem(24)
    margin-bottom: 24px
  &__banner
    background-color: $g-color-primary-blue
    color: $g-color-white
    padding: 32px 48px
    display: flex
    flex-direction: column
    align-items: center
    &-box
      margin-bottom: 16px
      & > *
        margin-bottom: 12px
        &:last-child
          margin-bottom: 0
    &-time
      text-align: center
      font-size: pxtorem(18)
      font-family: $g-font-family-type-oswald
      font-weight: 500
      span
        display: block
    &-title
      font-size: pxtorem(24)
      font-weight: 700
      font-family: $g-font-family-type-merri
      color: $g-color-accent-yellow
      text-align: center
    &-subtitle
      font-weight: 500
      color: $g-color-accent-yellow
      text-align: center
    .menu__box
      width: 100%
      justify-content: space-between
      margin-bottom: 4px
    .menu__price
      width: 60px
      text-align: right


@media (max-width: $g-breakpoint-tablet)
  .menu
    &__item
      margin-bottom: 24px
    &__banner
      padding: 16px 24px
