.block-form
  display: flex
  &__form
    flex-shrink: 0
    max-width: 100%
    width: 700px
  &__info
    flex-grow: 1
    padding-right: 44px
    margin-right: 24px
  &__item
    margin-bottom: 32px
    &:last-of-type
      margin-bottom: 0
    &_marks
      display: flex
      flex-wrap: wrap
  &__title
    margin-bottom: 24px
  &__mark
    margin-bottom: 16px
    &_days
      margin-right: 56px
      max-width: 100%
      width: 288px
    &_time
      display: flex
      .marks-block
        margin-right: 24px
        &:last-child
          margin-right: 0
    &_address
      width: 100%
      .marks-block__mark
        width: 100%


@media (max-width: $g-breakpoint-laptop)
  .block-form
    &__info
      padding-right: 12px
      margin: 12px
    &__mark
      &_days
        margin-right: 0

@media (max-width: $g-breakpoint-desktop)
  .block-form
    flex-direction: column-reverse
    &__form
      width: calc(100% + 16px)
      margin: 0 -8px
      max-width: calc(100% + 16px)
    &__mark
      margin-bottom: 12px
      &_days
        margin-right: 56px
    &__item
      margin-bottom: 24px

@media (max-width: $g-breakpoint-tablet)
  .block-form
    &__mark
      &_days
        width: 100%
        margin-right: 0
    &__info
      margin: 24px 0 0

