mixin block-form
  .block-form
    .block-form__info
      .title-block.block-form__title
        .title-block__title
          span Ждем вас
      .block-form__item.block-form__item_marks
        .marks-block.block-form__mark.block-form__mark_days
          span.marks-block__title График работы
          .marks-block__marks
            span.marks-block__mark Е
            span.marks-block__mark ж
            span.marks-block__mark е
            span.marks-block__mark д
            span.marks-block__mark н
            span.marks-block__mark е
            span.marks-block__mark в
            span.marks-block__mark н
            span.marks-block__mark о
        .block-form__mark.block-form__mark_time
          .marks-block
            span.marks-block__title Открытие
            .marks-block__marks
              span.marks-block__mark 12
              span.marks-block__mark 00
          .marks-block
            span.marks-block__title Закрытие
            .marks-block__marks
              span.marks-block__mark 05
              span.marks-block__mark 00
        .marks-block.block-form__mark.block-form__mark_address
          span.marks-block__title Где искать
          .marks-block__marks
            span.marks-block__mark Малый Гнездниковский пер. 12/27, стр 2/3
      .block-form__item
        p Пушкинская (252 м), Тверская (267 м), Чеховская (357 м)
      .block-form__item
        p Место, где можно ослабить галстук и снять шпильки. <br> Выверенное сочетание британского стиля, интернациональной кухни и спортивного духа.
    .block-form__form
      +form-order
