mixin form-order(isClose, name)
  form.form.form_order.js-form-order
    if isClose
      button.form__close(type="button" data-modal-close)
        i.icon
          img(src="/assets/images/icons/close.svg")
    h3.form__title БРОНИРОВАНИЕ СТОЛА
    span.form__line(style="background-image: url('/assets/images/line/line-form.png')")
    .form__section.form__section_main
      .form__col.form__col_one
        .form__day(data-form="day-container")
          span.form__day-weekday(data-form="weekday") ЧЕТВЕРГ
          span.form__day-month(data-form="month") АВГУСТ
          input.form__day-input(type="text" value="" data-form="day-input")
          input.form__day-input-hidden(type="hidden" value="" data-form="day-input-hidden")
          span.form__day-span(data-form="day-span") 20
          i.icon.form__day-arrow
            img(src="/assets/images/icons/triangle-down.svg")
      span.form__line-form-one(style="background-image: url('/assets/images/line/line-form-one.png')")
      .form__col.form__col_two
        .marks-block.form__time(data-form="time-container")
          span.marks-block__title Время
          .marks-block__marks
            input.marks-block__mark.marks-block__mark_dark(type="text" value="" data-form="time-input")
            input.form__time-input-hidden.marks-block__mark.marks-block__mark_dark(type="hidden" value="" data-form="time-input-hidden")
            span.marks-block__mark.marks-block__mark_dark(data-form="time-hours-span") 12
            span.marks-block__mark.marks-block__mark_dark(data-form="time-minutes-span") 00
        .marks-block.form__person(data-form="guest-container")
          span.marks-block__title Кол-во гостей
          .marks-block__marks
            input.marks-block__mark.marks-block__mark_dark(type="number" value="1" data-form="guest-input" data-min="1" data-max="100")
      span.form__line-form-two(style="background-image: url('/assets/images/line/line-form-two.png')")
      .form__col.form__col_three
        .marks-block.form__name(data-form="name-container")
          span.marks-block__title Как к вам обращаться
          .marks-block__marks
            input.marks-block__mark(type="text" placeholder="Ваше имя" data-form="name-input")
        .marks-block.form__phone(data-form="phone-container")
          span.marks-block__title Телефон
          .marks-block__marks
            //- input.marks-block__mark(type="hidden" value="" data-form="phone-input")
            span.marks-block__mark.marks-block__mark_transparent +7
            input.marks-block__mark(type="number" placeholder="999" data-form="phone-input-p1")
            input.marks-block__mark(type="number" placeholder="999" data-form="phone-input-p2")
            input.marks-block__mark(type="number" placeholder="99" data-form="phone-input-p3")
            input.marks-block__mark(type="number" placeholder="99" data-form="phone-input-p4")
    ul.form__section.form__section_error(data-form="error-container")
      li Заполните обязательные поля
    span.form__line-circles(style="background-image: url('/assets/images/line/line-circles.svg')")
    .form__section.form__section_actions
      button.button.button_accent ЗАБРОНИРОВАТЬ
      p.form__politic Нажимая кнопку, вы соглашаетесь с политикой обработки <a href="#">персональных данных</a>
