.form
  $form: &
  position: relative
  &_order
    display: flex
    flex-direction: column
    background-color: $g-color-accent-yellow-light
    padding: 24px 40px
    // height: 100%
    #{$form}
      &__line-circles
        width: calc(100% + 80px)
        margin: 24px -40px 24px
        background-size: cover
      &__title
        margin-bottom: 12px
      &__line
        margin-bottom: 16px

  .error
    // border: 1px solid $g-color-accent-red
    background-color: rgba($g-color-accent-red, 0.1)

  &__title
    font-family: $g-font-family-type-oswald
    font-size: pxtorem(24)
    font-weight: 600
  &__section
    display: flex
    &_main
      flex: 1 0
      & > *
        &:first-child
          padding-left: 0
    &_actions
      align-items: center
      .button
        margin-right: 24px
    &_error
      list-style: none
      padding: 0
      margin: 24px 0 0
      display: flex
      flex-direction: column
      li
        color: $g-color-accent-red
        font-size: pxtorem(14)
        opacity: 0
      &.is-error
        li
          opacity: 1
  &__col
    padding: 0 24px
  &__politic
    color: $g-color-dark-text-light
    a
      color: $g-color-dark
      text-decoration: none
  &__line-circles
    display: block
    width: 100%
    height: 20px
    background-position: center
  &__line
    display: block
    width: 100%
    height: 2px
    background-position: center
    &-form
      &-one
        width: 2px
      &-two
        width: 2px

  &__day
    position: relative
    width: 88px
    display: flex
    flex-direction: column
    align-items: center
    & > *:not(input)
      pointer-events: none
    &-weekday,
    &-month
      font-size: pxtorem(14)
      font-family: $g-font-family-type-oswald
      text-transform: uppercase
    &-month
      font-weight: 700
    &-input
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      outline: none
      pointer-events: all !important
      background: transparent
      border: none
      opacity: 0
    &-span
      width: 88px
      border: none
      font-family: $g-font-family-type-mono
      font-size: 64px
      background-color: transparent
      border-bottom: 5px solid $g-color-dark
      text-align: center
      margin-bottom: 16px

  &__time
    margin-bottom: 24px
    & > *
      pointer-events: none
    span
      width: 42px
      margin-right: 4px
      text-align: center
      &:last-child
        margin-right: 0
    input
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      outline: none
      pointer-events: all !important
      background: transparent
      border: none
      opacity: 0
    .marks-block__marks
      position: relative

  &__person
    input
      width: 88px
      text-align: center
      margin-right: 0

  &__name
    margin-bottom: 24px
    input
      width: 100%
      margin-right: 0

  &__phone
    input
      width: 60px
      text-align: center
      &:last-child
        margin-right: 0

  &__close
    position: absolute
    top: 8px
    right: 8px


@media (max-width: $g-breakpoint-tablet)
  .form
    &_order
      padding: 32px
      .form__line-circles
        width: calc(100% + 64px)
        margin: 12px -32px
        height: 16px
    &__title
      font-size: pxtorem(16)
      text-align: center
    &__section
      &_main
        flex-wrap: wrap
        justify-content: center
      &_actions
        flex-direction: column-reverse
        align-items: center
        .button
          margin: 0
      &_error
        margin: 12px 0 0
    &__line-form-two
      display: none
    &__col
      &_two
        padding-right: 0
      &_three
        width: 100%
        margin-top: 32px
        padding: 0
    &__phone
      input
        width: 50px
      .marks-block__marks
        flex-wrap: nowrap
    &__politic
      text-align: center
      margin-bottom: 16px

