.tabs
  $tabs: &
  &_menu
    #{$tabs}
      &__tab
        font-family: $g-font-family-type-merri
        font-size: pxtorem(32)
  &__tab
    position: relative
    display: inline-block
    font-family: $g-font-family-type-oswald
    font-weight: 500
    margin-right: 32px
    margin-bottom: 4px
    padding-bottom: 8px
    text-decoration: none
    cursor: pointer
    opacity: 0.45
    transition: opacity $g-transition-duration
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 0
      height: 2px
      background-color: $g-color-accent-red
      transition: width $g-transition-duration
    &:hover
      opacity: 1
    &.is-active
      pointer-events: none
      opacity: 1
      &::before
        width: 100%

  &__panels
    position: relative
    padding-top: 32px
  &__panel
    position: absolute
    visibility: hidden
    opacity: 0
    display: none
    &.is-active
      display: block
      position: static
      visibility: visible
      opacity: 1


@media (max-width: $g-breakpoint-desktop)
  .tabs
    $tabs: &
    &_menu
      #{$tabs}
        &__tab
          font-size: pxtorem(24)

@media (max-width: $g-breakpoint-tablet)
  .tabs
    $tabs: &
    &_menu
      #{$tabs}
        &__tab
          font-size: pxtorem(16)
