.article
  font-size: pxtorem(18)
  & > *
    margin-top: 56px
  &__slider
    width: 100%
    position: relative
    padding-top: 64px
  &__navs
    position: absolute
    top: 0
    right: 0
  mark
    display: inline-block
    font-family: $g-font-family-type-oswald
    font-size: pxtorem(24)
    color: $g-color-dark-text-light
    background-color: transparent
    &:first-of-type
      margin-top: 0
    & + h1
      margin-top: 8px
  h1
    font-family: $g-font-family-type-merri
    font-size: pxtorem(56)
    font-weight: 900
    &:first-of-type
      margin-top: 0
    & + *
      margin-top: 32px
  h3
    font-family: $g-font-family-type-merri
    font-size: pxtorem(32)
    font-weight: 700
    & + *
      margin-top: 32px
  h5
    font-size: pxtorem(24)
    font-weight: 400
    text-align: center
    & + *
      margin-top: 32px
  h6
    font-size: pxtorem(24)
    font-weight: 500
    text-align: center
    & + *
      margin-top: 32px
  p
    & + *
      margin-top: 32px
  ul
    padding-left: 16px
    & + *
      margin-top: 32px
    li
      padding: 8px 0
  & > img
    width: 100%
    & + *
      margin-top: 32px
  article
    max-width: 100%
    width: 860px
    margin-left: auto
    margin-right: auto

  .line
    padding: 56px 0
    & + .line
      margin-top: 0
    .reviews__quote
      top: -50px
    .reviews__pagination
      bottom: -95px !important

  * + .article__slider
    margin-top: 24px


@media (max-width: $g-breakpoint-desktop)
  .article
    h1
      font-size: pxtorem(32)
    h3
      font-size: pxtorem(24)
    h5, h6
      font-size: pxtorem(18)

@media (max-width: $g-breakpoint-tablet)
  .article
    &__slider
      width: calc(100% + 32px)
      margin: 0 -16px
      padding: 0 16px
    &__navs
      display: none
