.matches
  font-size: pxtorem(18)
  font-weight: 500
  &__item
    display: flex
    align-items: center
    justify-content: center
    border-bottom: 1px solid $g-color-bg-grey
    padding: 24px 0
    &:last-child
      border-bottom: none
  &__info
    color: $g-color-dark-text-light
    &_type
      margin-left: auto
    &_data
      margin-right: auto
  &__icon
    flex-shrink: 0
    width: 48px
    height: 48px
  &__separator
    margin: 0 24px
    color: $g-color-dark-text-light
  &__name
    font-family: $g-font-family-type-oswald
    font-size: pxtorem(24)
    font-weight: 600
    margin: 0 16px
