mixin matches
  .matches
    .matches__item
      span.matches__info.matches__info_data 26.08.2020 / 18:30
      span.matches__name Ротор
      i.icon.matches__icon
        img(src="assets/images/matches/rotor.png", alt="")
      span.matches__separator —
      i.icon.matches__icon
        img(src="assets/images/matches/spartak.png", alt="")
      span.matches__name Спартак
      span.matches__info.matches__info_type Российская премьер-лига

    .matches__item
      span.matches__info.matches__info_data 26.08.2020 / 18:30
      span.matches__name Ротор
      i.icon.matches__icon
        img(src="assets/images/matches/rotor.png", alt="")
      span.matches__separator —
      i.icon.matches__icon
        img(src="assets/images/matches/spartak.png", alt="")
      span.matches__name Спартак
      span.matches__info.matches__info_type Российская премьер-лига
