.advantages
  display: flex
  align-items: flex-start
  justify-content: center
  width: calc(100% + 24px)
  margin: 0 -12px
  &__item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: calc(25% - 24px)
    margin: 0 12px
    text-align: center
  &__icon
    position: relative
    width: 120px
    height: 120px
    &::before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      width: 100px
      height: 100px
      border-radius: 50%
      background-color: $g-color-primary-blue-light
      transform: translate(-50%, -50%)
      z-index: -1
  &__name
    font-family: $g-font-family-type-oswald
    font-size: pxtorem(24)
    font-weight: 400


@media (max-width: $g-breakpoint-tablet)
  .advantages
    &__icon
      width: 60px
      height: 60px
      &::before
       width: 110%
       height: 110%
      img
        max-height: 100%
    &__name
      font-size: pxtorem(14)
      margin-top: 16px
