mixin advantages
  .advantages&attributes(attributes)
    .advantages__item
      .advantages__icon
        img(src="assets/images/advantages/author.svg")
      h5.advantages__name Авторская кухня
    .advantages__item
      .advantages__icon
        img(src="assets/images/advantages/sort.svg")
      h5.advantages__name Более 80 сортов виски
    .advantages__item
      .advantages__icon
        img(src="assets/images/advantages/pivo.svg")
      h5.advantages__name 20 сортов пива со всей Европы
