.reviews
  position: relative
  padding: 40px 56px
  &_once
    padding: 24px 0
  &__item
    &-inner
      max-width: 100%
      width: 860px
      margin: 0 auto
      display: flex
      flex-direction: column
      align-items: center
      text-align: center
      & > *
        margin-bottom: 24px
        &:last-child
          margin-bottom: 0
  &__name
    font-family: $g-font-family-type-oswald
    font-size: pxtorem(24)
    font-weight: 600
  &__text
    font-size: pxtorem(24)
  &__slider
    .swiper-wrapper
      z-index: 0
  &__navs
    z-index: 1
    .navs__item
      position: absolute
      top: 50%
      transform: translateY(-50%)
      &_prev
        left: 0
      &_next
        right: 0
  &__pagination
    position: absolute
    left: 50%
    bottom: -80px !important
    display: inline-block
    width: auto
    padding: 8px 24px
    background-color: $g-color-white
    font-family: $g-font-family-type-oswald
    font-size: pxtorem(20)
    font-weight: 500
    transform: translate(-50%, -50%)
    z-index: 1
  &__quote
    position: absolute
    left: 50%
    top: -40px
    padding: 8px 24px
    background-color: $g-color-white
    transform: translate(-50%, -50%)
    z-index: 1
    svg
      width: 40px
      height: 30px
    path
      fill: $g-color-dark-text


@media (max-width: $g-breakpoint-desktop)
  .reviews
    &__navs
      display: none

@media (max-width: $g-breakpoint-tablet)
  .reviews
    padding: 16px 0
    &__quote
      top: -20px
    &__pagination
      bottom: -60px !important
    &__name
      font-size: pxtorem(20)
    &__text
      font-size: pxtorem(16)
