mixin reviews
  .reviews.js-review-slider
    .reviews__quote
      svg(viewBox="0 0 40 31" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M0 0.620117V15.6201H10C10 21.1701 5.55 25.6201 0 25.6201V30.6201C8.25 30.6201 15 23.8701 15 15.6201V0.620117H0ZM25 0.620117V15.6201H35C35 21.1701 30.55 25.6201 25 25.6201V30.6201C33.25 30.6201 40 23.8701 40 15.6201V0.620117H25Z")
    .reviews__pagination
    .reviews__slider.swiper-container
      .swiper-wrapper
        .swiper-slide.reviews__item
          .reviews__item-inner
            h5.reviews__name Андрей Павлов
            p.reviews__text Не могу не отметить очень удобное расположение в центре. С удовольствием попробовали жареный сыр камамбер с брусничным соусом и карпаччо из филе премиальной говядины с трюфельным сыром и зеленым салатом. Шатобриан стейк был просто бесподобен, а друзьям очень понравились красные аргентинские креветки...
            img.reviews__icon(src="assets/images/reviews/afisha.jpg")

        .swiper-slide.reviews__item
          .reviews__item-inner
            h5.reviews__name Андрей Павлов
            p.reviews__text Не могу не отметить очень удобное расположение в центре. С удовольствием попробовали жареный сыр камамбер с брусничным соусом и карпаччо из филе премиальной говядины с трюфельным сыром и зеленым салатом. Шатобриан стейк был просто бесподобен, а друзьям очень понравились красные аргентинские креветки...
            img.reviews__icon(src="assets/images/reviews/afisha.jpg")

        .swiper-slide.reviews__item
          .reviews__item-inner
            h5.reviews__name Андрей Павлов
            p.reviews__text Не могу не отметить очень удобное расположение в центре. С удовольствием попробовали жареный сыр камамбер с брусничным соусом и карпаччо из филе премиальной говядины с трюфельным сыром и зеленым салатом. Шатобриан стейк был просто бесподобен, а друзьям очень понравились красные аргентинские креветки...
            img.reviews__icon(src="assets/images/reviews/afisha.jpg")

      +navs.reviews__navs
