.promo
  display: flex
  text-decoration: none
  height: 96px
  transition: all $g-transition-duration*2
  &_primary
    background-color: $g-color-primary-blue
  &__inner
    display: flex
    align-items: center
    padding: 0 24px
  &__img
    width: 104px
    margin: 0 24px
  &__title
    flex-shrink: 0
    font-size: pxtorem(24)
    font-weight: 700
    max-width: 100%
    width: 376px
    margin: 0 24px
    color: $g-color-white
  &__line
    flex-shrink: 0
    display: inline-block
    height: 72px
    width: 2px
    background-color: $g-color-white
  &__option
    margin: 0 0 0 40px
    color: $g-color-white
    width: 200px
    &:last-of-type
      margin-right: 40px
    span
      white-space: nowrap
      &:nth-child(1)
        font-size: pxtorem(24)
        font-weight: 700
        margin-right: 8px
      &:nth-child(2)
        font-size: pxtorem(14)
        font-weight: 500
      &:nth-child(3)
        display: inline-block
        font-size: pxtorem(18)
        font-weight: 600
  &__button
    margin-left: auto


@media (max-width: $g-breakpoint-laptop)
  .promo
    &__option,
    &__line
      display: none

@media (max-width: $g-breakpoint-tablet)
  .promo
    height: 55px
    &__img
      width: auto
      height: 55px
      margin: 0
    &__inner
      padding: 0
    &__title
      flex-shrink: 1
      font-size: pxtorem(12)
      width: auto
      margin: 0 12px
      min-width: 125px
