mixin promo-fluid
  a.promo.promo_primary.not-link(href="#")
    .container
      .promo__inner
        img.promo__img(src="assets/images/promo.png")
        h2.promo__title Электронная карта лояльности «Chelsea GastroPub»
        span.promo__line
        .promo__option
          span 5-15%
          span от суммы чека
          span начисляется на карту
        .promo__option
          span до 100%
          span суммы чека
          span можно оплатить бонусами
        button.button.button_promo.promo__button Открыть
