.navs
  &__item
    display: inline-flex
    align-items: center
    justify-content: center
    width: 48px
    height: 48px
    outline: none
    padding: 12px
    cursor: pointer

    &:hover
      path
        fill: $g-color-accent-red
    svg
      width: 100%
      height: 100%
    path
      fill: $g-color-dark-text
      transition: fill $g-transition-duration
    &.swiper-button-disabled
      pointer-events: none
      opacity: 0.45
