.fgrid
  display: flex
  flex-wrap: wrap
  width: calc(100% + 24px)
  margin: 0 -12px -24px
  & > *
    width: calc(25% - 24px)
    margin: 0 12px 24px

  &_journal
    margin: 0 -12px -32px
    & > *
      width: calc(50% - 24px)
      margin: 0 12px 32px

  &_faq
    margin: 0 -12px -16px
    & > *
      width: calc(50% - 24px)
      margin: 0 12px 16px

  &_gallery
    margin: 0 -12px -32px
    & > *
      margin: 0 12px 32px
      &.x1-3
        width: calc(33.33% - 24px)

  &_menu
    width: calc(100% + 100px)
    margin: 0 -50px
    & > *
      width: calc(33.33% - 100px)
      margin: 0 50px

@media (max-width: $g-breakpoint-desktop)
  .fgrid
    &_faq
      width: 100%
      margin: 0
      & > *
        width: 100%
        margin: 0 0 8px
    &_menu
      width: calc(100% + 32px)
      margin: 0 -16px
      & > *
        width: calc(33.33% - 32px)
        margin: 0 16px



@media (max-width: $g-breakpoint-tablet)
  .fgrid
    &_rating
      flex-wrap: nowrap
      width: calc(100% + 32px)
      margin: 0 -16px
      padding: 0 16px
      overflow-x: auto
      & > *
        flex-shrink: 0
        width: 160px
        margin: 0 8px 0 0
        &:last-child
          position: relative
          &::before
            content: ''
            position: absolute
            top: 0
            right: -16px
            width: 16px
            height: 16px
            display: block
    &_journal
      flex-wrap: nowrap
      width: 100%
      margin: 0
      & > *
        margin: 0
    &_gallery
      width: calc(100% + 8px)
      margin: 0 -4px -8px
      & > *
        margin: 0 4px 8px
        width: calc(50% - 8px)
        &.x1-3
          width: calc(50% - 8px)
    &_menu
      width: 100%
      margin: 0
      & > *
        width: 100%
        margin: 0 0 24px

@media (max-width: $g-breakpoint-mobile)
  .fgrid
