.logo
  display: inline-block
  &__title
    text-align: center
    line-height: 0
    svg
      width: 110px
  &__subtitle
    text-align: center
    line-height: 0
    svg
      width: 60px


@media (max-width: $g-breakpoint-desktop)
  .logo
    &__title
      svg
        width: 80px
    &__subtitle
      svg
        width: 40px


@media (max-width: $g-breakpoint-tablet)
  .logo
    &__title
      svg
        width: 50px
    &__subtitle
      svg
        width: 30px

