mixin header-logo
  a.logo&attributes(attributes)
    .logo__title
      <svg  viewBox="0 0 109 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10.0233 24C6.77766 24 4.2957 23.0277 2.57742 21.083C0.85914 19.1191 0 16.4428 0 13.0542C0 10.8207 0.448662 8.87605 1.34599 7.22022C2.2624 5.54513 3.51293 4.25512 5.09756 3.35018C6.6822 2.44525 8.47685 1.99278 10.4815 1.99278C11.3216 1.99278 12.133 2.05054 12.9157 2.16606C13.6985 2.26234 14.6245 2.39711 15.6936 2.5704C16.4955 2.70518 16.9346 2.77256 17.011 2.77256L16.696 8.72202H14.0613L13.1735 4.59206C12.9635 4.38026 12.6007 4.20698 12.0852 4.0722C11.5697 3.93742 10.9111 3.87004 10.1092 3.87004C8.48639 3.87004 7.17859 4.63057 6.18581 6.15162C5.21211 7.65343 4.72527 9.83875 4.72527 12.7076C4.72527 15.4801 5.19302 17.7425 6.12853 19.4946C7.06404 21.2467 8.42912 22.1227 10.2238 22.1227C11.0829 22.1227 11.7416 22.0457 12.1998 21.8917C12.6771 21.7184 13.078 21.4777 13.4026 21.1697L14.6627 18.1949L17.0682 18.426L16.4955 22.9025C16.0946 22.941 15.6936 23.0181 15.2927 23.1336C14.9108 23.2298 14.6722 23.2876 14.5767 23.3069C13.8131 23.5187 13.0971 23.6823 12.4289 23.7978C11.7798 23.9326 10.9779 24 10.0233 24Z" fill="white"/>
        <path d="M20.6538 2.5704L18.4773 2.19495V0.635379L23.804 0H23.8899L24.6345 0.548736L24.6631 6.98917L24.4627 9.50181C25.0545 8.9627 25.8564 8.46209 26.8683 8C27.8992 7.53791 28.9779 7.30686 30.1043 7.30686C31.3071 7.30686 32.2426 7.53791 32.9109 8C33.5791 8.44284 34.0468 9.12635 34.3141 10.0505C34.5814 10.9747 34.7151 12.207 34.7151 13.7473V21.6895L36.5479 21.9495V23.6823H29.0161V21.9495L30.6771 21.6895V13.7473C30.6771 12.7461 30.6103 11.9663 30.4766 11.4079C30.343 10.8496 30.0948 10.4356 29.7321 10.1661C29.3884 9.89651 28.8729 9.76173 28.1856 9.76173C27.5937 9.76173 26.9828 9.90614 26.3528 10.1949C25.7418 10.4645 25.1977 10.7918 24.7204 11.1769V21.6895L26.4673 21.9495V23.6823H19.0501V21.9495L20.6538 21.7184V2.5704Z" fill="white"/>
        <path d="M45.7098 24C43.1897 24 41.3091 23.2587 40.0681 21.7762C38.8462 20.2744 38.2353 18.2335 38.2353 15.6534C38.2353 13.9206 38.5503 12.4188 39.1804 11.148C39.8295 9.87726 40.7363 8.90493 41.901 8.23105C43.0656 7.55716 44.4116 7.22022 45.9389 7.22022C47.8481 7.22022 49.3182 7.73045 50.3492 8.7509C51.3801 9.75211 51.9147 11.1865 51.9529 13.0542C51.9529 14.3249 51.8765 15.2684 51.7238 15.8845H42.4164C42.4928 17.6366 42.9033 19.0036 43.6479 19.9856C44.3925 20.9483 45.4521 21.4296 46.8267 21.4296C47.5713 21.4296 48.335 21.3045 49.1177 21.0542C49.9196 20.8039 50.5496 20.5054 51.0078 20.1588L51.7238 21.7473C51.2083 22.3057 50.3683 22.8255 49.2036 23.3069C48.0581 23.769 46.8935 24 45.7098 24ZM47.9436 14.1516C47.9818 13.6125 48.0009 13.1986 48.0009 12.9097C48.0009 10.349 47.1513 9.06859 45.4521 9.06859C44.5166 9.06859 43.7911 9.44404 43.2756 10.1949C42.7601 10.9458 42.4737 12.2647 42.4164 14.1516H47.9436Z" fill="white"/>
        <path d="M55.8993 2.5704L53.7801 2.19495V0.635379L59.0782 0H59.1354L59.9087 0.548736V21.7184L61.9992 21.9495V23.6823H53.8947V21.9495L55.8993 21.6895V2.5704Z" fill="white"/>
        <path d="M67.1496 21.3141C67.3023 21.5451 67.646 21.7665 68.1806 21.9783C68.7342 22.1709 69.2879 22.2671 69.8416 22.2671C70.7389 22.2671 71.4071 22.0842 71.8462 21.7184C72.3044 21.3333 72.5335 20.8327 72.5335 20.2166C72.5335 19.5812 72.2567 19.071 71.703 18.6859C71.1494 18.2816 70.2139 17.7906 68.8965 17.213L68.0947 16.8664C66.7773 16.3081 65.7941 15.6342 65.1449 14.8448C64.4958 14.0554 64.1712 13.0349 64.1712 11.7834C64.1712 10.917 64.429 10.1468 64.9445 9.47293C65.46 8.77978 66.1855 8.24067 67.121 7.8556C68.0565 7.47052 69.1352 7.27798 70.3571 7.27798C71.2544 7.27798 72.0181 7.33574 72.6481 7.45126C73.2972 7.56679 73.975 7.72082 74.6814 7.91336C75.0632 8.04813 75.3496 8.12515 75.5405 8.1444V11.9278H73.2781L72.6195 9.73285C72.5049 9.54031 72.2472 9.36703 71.8462 9.213C71.4453 9.05897 70.9871 8.98195 70.4716 8.98195C69.6888 8.98195 69.0588 9.15524 68.5815 9.50181C68.1233 9.82912 67.8942 10.2912 67.8942 10.8881C67.8942 11.4272 68.0565 11.8797 68.381 12.2455C68.7056 12.5921 69.0588 12.8616 69.4406 13.0542C69.8225 13.2467 70.5289 13.5644 71.5598 14.0072C72.5908 14.4501 73.4404 14.8736 74.1086 15.278C74.7959 15.6823 75.3592 16.2118 75.7983 16.8664C76.2565 17.5018 76.4856 18.2816 76.4856 19.2058C76.4856 20.6306 75.9319 21.7858 74.8246 22.6715C73.7172 23.5572 72.1231 24 70.042 24C69.0683 24 68.1901 23.9134 67.4073 23.7401C66.6437 23.5668 65.7559 23.3357 64.744 23.0469L64.114 22.8448V19.0325H66.4909L67.1496 21.3141Z" fill="white"/>
        <path d="M86.0379 24C83.5178 24 81.6372 23.2587 80.3962 21.7762C79.1744 20.2744 78.5634 18.2335 78.5634 15.6534C78.5634 13.9206 78.8784 12.4188 79.5085 11.148C80.1576 9.87726 81.0645 8.90493 82.2291 8.23105C83.3937 7.55716 84.7397 7.22022 86.267 7.22022C88.1762 7.22022 89.6463 7.73045 90.6773 8.7509C91.7082 9.75211 92.2428 11.1865 92.281 13.0542C92.281 14.3249 92.2046 15.2684 92.0519 15.8845H82.7446C82.8209 17.6366 83.2314 19.0036 83.976 19.9856C84.7206 20.9483 85.7802 21.4296 87.1548 21.4296C87.8994 21.4296 88.6631 21.3045 89.4458 21.0542C90.2477 20.8039 90.8777 20.5054 91.336 20.1588L92.0519 21.7473C91.5364 22.3057 90.6964 22.8255 89.5318 23.3069C88.3862 23.769 87.2216 24 86.0379 24ZM88.2717 14.1516C88.3099 13.6125 88.329 13.1986 88.329 12.9097C88.329 10.349 87.4794 9.06859 85.7802 9.06859C84.8447 9.06859 84.1192 9.44404 83.6037 10.1949C83.0882 10.9458 82.8018 12.2647 82.7446 14.1516H88.2717Z" fill="white"/>
        <path d="M94.2514 19.1769C94.2514 17.4248 95.1201 16.1059 96.8575 15.2202C98.614 14.3345 100.876 13.8821 103.645 13.8628V13.1986C103.645 12.4091 103.559 11.793 103.387 11.3502C103.234 10.9073 102.938 10.58 102.499 10.3682C102.079 10.1372 101.459 10.0217 100.638 10.0217C99.7022 10.0217 98.8622 10.1468 98.1176 10.3971C97.373 10.6282 96.5997 10.9362 95.7979 11.3213L94.9101 9.47293C95.1965 9.22262 95.6738 8.92419 96.342 8.57762C97.0293 8.23105 97.8407 7.93261 98.7762 7.68231C99.7117 7.41276 100.676 7.27798 101.669 7.27798C103.139 7.27798 104.284 7.47052 105.105 7.8556C105.945 8.24067 106.547 8.8568 106.909 9.70397C107.272 10.5511 107.454 11.6871 107.454 13.1119V21.9495H109V23.5668C108.618 23.6631 108.074 23.7593 107.368 23.8556C106.661 23.9519 106.041 24 105.506 24C104.857 24 104.418 23.9037 104.189 23.7112C103.979 23.5187 103.874 23.1239 103.874 22.5271V21.7473C103.358 22.3249 102.69 22.8448 101.869 23.3069C101.048 23.769 100.122 24 99.0913 24C98.213 24 97.4016 23.8171 96.657 23.4513C95.9315 23.0662 95.3492 22.5175 94.9101 21.8051C94.471 21.0734 94.2514 20.1974 94.2514 19.1769ZM100.924 21.6029C101.325 21.6029 101.783 21.4874 102.299 21.2563C102.814 21.006 103.263 20.7076 103.645 20.361V15.6245C101.926 15.6245 100.638 15.923 99.7786 16.5199C98.9385 17.0975 98.5185 17.8484 98.5185 18.7726C98.5185 19.6968 98.7285 20.3995 99.1485 20.8809C99.5876 21.3622 100.179 21.6029 100.924 21.6029Z" fill="white"/>
      </svg>
    .logo__subtitle
      <svg viewBox="0 0 59 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.2574 11.62C2.18407 11.62 1.4094 11.2887 0.933398 10.626C0.466732 9.954 0.233398 8.988 0.233398 7.728V3.92C0.233398 2.62267 0.476065 1.64733 0.961398 0.994001C1.44673 0.331334 2.28207 0 3.4674 0C4.5874 0 5.39007 0.28 5.8754 0.84C6.36073 1.39067 6.6034 2.212 6.6034 3.304V3.892H4.6294V3.248C4.6294 2.83733 4.6014 2.51067 4.5454 2.268C4.49873 2.02533 4.3914 1.83867 4.2234 1.708C4.06473 1.57733 3.82207 1.512 3.4954 1.512C3.15007 1.512 2.8934 1.596 2.7254 1.764C2.5574 1.932 2.4454 2.14667 2.3894 2.408C2.34273 2.66933 2.3194 3.01 2.3194 3.43V8.176C2.3194 8.82 2.4034 9.30067 2.5714 9.618C2.74873 9.93533 3.0754 10.094 3.5514 10.094C4.01807 10.094 4.34007 9.926 4.5174 9.59C4.70407 9.254 4.7974 8.75 4.7974 8.078V7.014H3.5794V5.712H6.6594V11.466H5.3154L5.1754 10.36C4.82073 11.2 4.1814 11.62 3.2574 11.62Z" fill="white"/>
        <path d="M9.67771 11.592C9.33238 11.592 9.02438 11.4987 8.75371 11.312C8.49238 11.1253 8.28704 10.8873 8.13771 10.598C7.99771 10.2993 7.92771 9.99133 7.92771 9.674C7.92771 9.04867 8.07238 8.53533 8.36171 8.134C8.66038 7.72333 9.02438 7.406 9.45371 7.182C9.89238 6.958 10.471 6.71067 11.1897 6.44V5.74C11.1897 5.36667 11.143 5.096 11.0497 4.928C10.9657 4.75067 10.7977 4.662 10.5457 4.662C10.1164 4.662 9.89238 4.96067 9.87371 5.558L9.84571 6.048L8.03971 5.978C8.06771 5.04467 8.29638 4.35867 8.72571 3.92C9.16438 3.472 9.82238 3.248 10.6997 3.248C11.493 3.248 12.081 3.46733 12.4637 3.906C12.8464 4.33533 13.0377 4.94667 13.0377 5.74V9.478C13.0377 10.0567 13.0844 10.7193 13.1777 11.466H11.4697C11.3764 10.962 11.311 10.5747 11.2737 10.304C11.1617 10.668 10.9704 10.976 10.6997 11.228C10.4384 11.4707 10.0977 11.592 9.67771 11.592ZM10.3777 10.178C10.5364 10.178 10.6857 10.122 10.8257 10.01C10.975 9.898 11.0964 9.77667 11.1897 9.646V7.378C10.695 7.66733 10.3264 7.94733 10.0837 8.218C9.84104 8.47933 9.71971 8.81067 9.71971 9.212C9.71971 9.51067 9.77571 9.74867 9.88771 9.926C10.009 10.094 10.1724 10.178 10.3777 10.178Z" fill="white"/>
        <path d="M16.6378 11.592C15.9565 11.592 15.3965 11.41 14.9578 11.046C14.5191 10.682 14.2065 10.15 14.0198 9.45L15.4338 8.904C15.6485 9.80933 16.0405 10.262 16.6098 10.262C16.8245 10.262 16.9878 10.206 17.0998 10.094C17.2211 9.982 17.2818 9.828 17.2818 9.632C17.2818 9.41733 17.2165 9.22133 17.0858 9.044C16.9551 8.85733 16.7218 8.624 16.3858 8.344L15.4198 7.504C15.0091 7.168 14.7058 6.84133 14.5098 6.524C14.3138 6.20667 14.2158 5.81933 14.2158 5.362C14.2158 4.72733 14.4305 4.21867 14.8598 3.836C15.2985 3.444 15.8491 3.248 16.5118 3.248C17.1465 3.248 17.6645 3.43933 18.0658 3.822C18.4671 4.19533 18.7285 4.704 18.8498 5.348L17.6038 5.88C17.5291 5.50667 17.4031 5.20333 17.2258 4.97C17.0578 4.72733 16.8385 4.606 16.5678 4.606C16.3718 4.606 16.2131 4.66667 16.0918 4.788C15.9798 4.90933 15.9238 5.06333 15.9238 5.25C15.9238 5.39933 15.9891 5.558 16.1198 5.726C16.2505 5.894 16.4465 6.09 16.7078 6.314L17.6878 7.21C18.1078 7.574 18.4298 7.924 18.6538 8.26C18.8871 8.58667 19.0038 8.98333 19.0038 9.45C19.0038 10.1313 18.7798 10.6587 18.3318 11.032C17.8931 11.4053 17.3285 11.592 16.6378 11.592Z" fill="white"/>
        <path d="M22.3833 11.564C21.6459 11.564 21.1233 11.3867 20.8153 11.032C20.5166 10.6773 20.3673 10.15 20.3673 9.45V4.62H19.5553V3.374H20.3673V0.952H22.2853V3.374H23.5033V4.62H22.2853V9.282C22.2853 9.55267 22.3413 9.74867 22.4533 9.87C22.5746 9.99133 22.7613 10.052 23.0133 10.052C23.2466 10.052 23.4426 10.0333 23.6013 9.996V11.466C23.2279 11.5313 22.8219 11.564 22.3833 11.564Z" fill="white"/>
        <path d="M24.7357 3.374H26.6397V4.62C26.9104 4.144 27.1857 3.80333 27.4657 3.598C27.7457 3.38333 28.0584 3.276 28.4037 3.276C28.525 3.276 28.623 3.28533 28.6977 3.304V5.278C28.399 5.166 28.1377 5.11 27.9137 5.11C27.4097 5.11 26.985 5.37133 26.6397 5.894V11.466H24.7357V3.374Z" fill="white"/>
        <path d="M32.0792 11.592C31.2112 11.592 30.5626 11.354 30.1332 10.878C29.7039 10.3927 29.4892 9.69267 29.4892 8.778V6.062C29.4892 5.14733 29.7039 4.452 30.1332 3.976C30.5626 3.49067 31.2112 3.248 32.0792 3.248C32.9472 3.248 33.5959 3.49067 34.0252 3.976C34.4639 4.452 34.6832 5.14733 34.6832 6.062V8.778C34.6832 9.69267 34.4639 10.3927 34.0252 10.878C33.5959 11.354 32.9472 11.592 32.0792 11.592ZM32.0932 10.276C32.3826 10.276 32.5739 10.164 32.6672 9.94C32.7606 9.70667 32.8072 9.366 32.8072 8.918V5.936C32.8072 5.488 32.7606 5.14733 32.6672 4.914C32.5739 4.68067 32.3826 4.564 32.0932 4.564C31.7946 4.564 31.5986 4.68067 31.5052 4.914C31.4119 5.14733 31.3652 5.488 31.3652 5.936V8.918C31.3652 9.366 31.4119 9.70667 31.5052 9.94C31.5986 10.164 31.7946 10.276 32.0932 10.276Z" fill="white"/>
        <path d="M39.5306 0.126H42.8626C44.7946 0.126 45.7606 1.19933 45.7606 3.346C45.7606 5.39933 44.748 6.426 42.7226 6.426H41.5886V11.466H39.5306V0.126ZM42.3866 4.97C42.9466 4.97 43.3246 4.85333 43.5206 4.62C43.7166 4.37733 43.8146 3.948 43.8146 3.332C43.8146 2.884 43.782 2.54333 43.7166 2.31C43.6513 2.06733 43.516 1.88533 43.3106 1.764C43.1146 1.64267 42.8066 1.582 42.3866 1.582H41.5886V4.97H42.3866Z" fill="white"/>
        <path d="M48.0894 11.592C47.6321 11.592 47.2914 11.424 47.0674 11.088C46.8434 10.752 46.7314 10.3273 46.7314 9.814V3.374H48.6214V9.464C48.6214 9.716 48.6634 9.90733 48.7474 10.038C48.8314 10.1687 48.9761 10.234 49.1814 10.234C49.3961 10.234 49.6808 10.108 50.0354 9.856V3.374H51.9394V11.466H50.0354V10.696C49.4101 11.2933 48.7614 11.592 48.0894 11.592Z" fill="white"/>
        <path d="M56.8906 11.592C56.3586 11.592 55.836 11.3493 55.3226 10.864V11.466H53.4326V0.126H55.3226V3.99C55.836 3.49533 56.3866 3.248 56.9746 3.248C57.628 3.248 58.09 3.51867 58.3606 4.06C58.6313 4.60133 58.7666 5.23133 58.7666 5.95V8.694C58.7666 9.562 58.6126 10.262 58.3046 10.794C58.006 11.326 57.5346 11.592 56.8906 11.592ZM56.1626 10.262C56.4426 10.262 56.6293 10.1313 56.7226 9.87C56.816 9.60867 56.8626 9.24 56.8626 8.764V5.852C56.8626 5.44133 56.8113 5.11933 56.7086 4.886C56.606 4.64333 56.424 4.522 56.1626 4.522C55.892 4.522 55.612 4.634 55.3226 4.858V9.982C55.584 10.1687 55.864 10.262 56.1626 10.262Z" fill="white"/>
      </svg>
