.social
  display: flex
  align-items: center
  &__item
    text-decoration: none
    margin-right: 24px
    &_vk
      .icon
        padding: 0
    &:hover
      path
        fill: $g-color-accent-red
