mixin social
  .social
    a.social__item.social__item_vk(href="#")
      i.icon.icon_fill.icon_social
        svg(viewBox="0 0 22 13" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M21.463 1.81226C21.558 1.36526 21.347 1.11426 20.848 1.11426H18.333C17.757 1.11426 17.546 1.34726 17.373 1.68626C17.373 1.68626 16.013 4.38626 14.36 6.08626C13.828 6.63626 13.558 6.80126 13.265 6.80126C13.029 6.80126 12.92 6.61826 12.92 6.12126V1.77726C12.92 1.16926 12.843 0.990258 12.305 0.990258H8.274C7.967 0.990258 7.774 1.15626 7.774 1.38326C7.774 1.95626 8.715 2.08526 8.715 3.63726V6.83726C8.715 7.48226 8.677 7.73226 8.351 7.73226C7.487 7.73226 5.433 4.96026 4.281 1.81226C4.051 1.16926 3.801 0.989258 3.148 0.989258H0.634C0.269 0.989258 0 1.22126 0 1.56126C0 2.18726 0.787 5.08426 3.878 8.96526C5.95 11.5763 8.678 12.9893 11.134 12.9893C12.632 12.9893 12.996 12.7573 12.996 12.1663V10.1633C12.996 9.66326 13.208 9.44826 13.515 9.44826C13.86 9.44826 14.47 9.55126 15.895 10.8613C17.585 12.3633 17.7 12.9893 18.621 12.9893H21.443C21.731 12.9893 22 12.8643 22 12.4173C22 11.8273 21.174 10.7713 19.907 9.52026C19.389 8.87626 18.544 8.17826 18.276 7.85626C17.892 7.48126 18.007 7.26626 18.276 6.87326C18.276 6.87326 21.174 3.06326 21.463 1.81226Z")
    a.social__item(href="#")
      i.icon.icon_fill.icon_social
        svg(viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M4.5 0.989258H13.5C14.6935 0.989258 15.8381 1.46336 16.682 2.30728C17.5259 3.15119 18 4.29578 18 5.48926V14.4893C18 15.6827 17.5259 16.8273 16.682 17.6712C15.8381 18.5152 14.6935 18.9893 13.5 18.9893H4.5C3.30653 18.9893 2.16193 18.5152 1.31802 17.6712C0.474106 16.8273 0 15.6827 0 14.4893V5.48926C0 4.29578 0.474106 3.15119 1.31802 2.30728C2.16193 1.46336 3.30653 0.989258 4.5 0.989258ZM9 14.9893C10.3261 14.9893 11.5979 14.4625 12.5355 13.5248C13.4732 12.5871 14 11.3153 14 9.98926C14 8.66318 13.4732 7.39141 12.5355 6.45372C11.5979 5.51604 10.3261 4.98926 9 4.98926C7.67392 4.98926 6.40215 5.51604 5.46447 6.45372C4.52678 7.39141 4 8.66318 4 9.98926C4 11.3153 4.52678 12.5871 5.46447 13.5248C6.40215 14.4625 7.67392 14.9893 9 14.9893ZM9 12.9893C8.20435 12.9893 7.44129 12.6732 6.87868 12.1106C6.31607 11.548 6 10.7849 6 9.98926C6 9.19361 6.31607 8.43055 6.87868 7.86794C7.44129 7.30533 8.20435 6.98926 9 6.98926C9.79565 6.98926 10.5587 7.30533 11.1213 7.86794C11.6839 8.43055 12 9.19361 12 9.98926C12 10.7849 11.6839 11.548 11.1213 12.1106C10.5587 12.6732 9.79565 12.9893 9 12.9893ZM14 4.98926C14.2652 4.98926 14.5196 4.8839 14.7071 4.69636C14.8946 4.50883 15 4.25447 15 3.98926C15 3.72404 14.8946 3.46969 14.7071 3.28215C14.5196 3.09461 14.2652 2.98926 14 2.98926C13.7348 2.98926 13.4804 3.09461 13.2929 3.28215C13.1054 3.46969 13 3.72404 13 3.98926C13 4.25447 13.1054 4.50883 13.2929 4.69636C13.4804 4.8839 13.7348 4.98926 14 4.98926Z")
    a.social__item(href="#")
      i.icon.icon_fill.icon_social
        svg(viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M9.614 18.9893H0.994C0.86343 18.9894 0.734114 18.9638 0.613457 18.9139C0.4928 18.864 0.383171 18.7907 0.290843 18.6984C0.198515 18.6061 0.125303 18.4965 0.0753963 18.3758C0.0254898 18.2551 -0.000131054 18.1258 5.04078e-07 17.9953V1.98326C5.04078e-07 1.43326 0.445 0.989258 0.994 0.989258H17.007C17.555 0.989258 18 1.43426 18 1.98326V17.9953C18.0001 18.1257 17.9745 18.255 17.9247 18.3756C17.8749 18.4962 17.8017 18.6057 17.7095 18.6981C17.6173 18.7904 17.5078 18.8636 17.3872 18.9136C17.2667 18.9635 17.1375 18.9893 17.007 18.9893H12.42V12.0193H14.76L15.11 9.30226H12.42V7.56726C12.42 6.78126 12.638 6.24526 13.766 6.24526H15.204V3.81526C14.5078 3.7415 13.8081 3.70578 13.108 3.70826C11.034 3.70826 9.614 4.97426 9.614 7.29826V9.30226H7.27V12.0183H9.615V18.9893H9.614Z")
