mixin hit-slider
  .hit-slider.js-hit-slider
    .title-block
      .title-block__title
        span Наши хиты
        a.title-block__link(href="#") все меню
      +navs.title-block__actions.hit-slider__navs
    .hit-slider__slider.swiper-container
      .swiper-wrapper
        a.hit-slider__slide.swiper-slide.card.card_hit(href="#")
          .card__image
            img.swiper-lazy(data-src="assets/images/hit-card/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            div
              span.card__price 451 &#8381;
              span.card__weight 400 г
            p.card__text Салат с лисичками, шампиньонами, маслинами

        a.hit-slider__slide.swiper-slide.card.card_hit(href="#")
          .card__image
            img.swiper-lazy(data-src="assets/images/hit-card/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            div
              span.card__price 451 &#8381;
              span.card__weight 400 г
            p.card__text Салат с лисичками, шампиньонами, маслинами

        a.hit-slider__slide.swiper-slide.card.card_hit(href="#")
          .card__image
            img.swiper-lazy(data-src="assets/images/hit-card/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            div
              span.card__price 451 &#8381;
              span.card__weight 400 г
            p.card__text Салат с лисичками, шампиньонами, маслинами

        a.hit-slider__slide.swiper-slide.card.card_hit(href="#")
          .card__image
            img.swiper-lazy(data-src="assets/images/hit-card/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            div
              span.card__price 451 &#8381;
              span.card__weight 400 г
            p.card__text Салат с лисичками, шампиньонами, маслинами

mixin news-slider
  .hit-slider.js-hit-slider
    .title-block
      .title-block__title
        span Новости и акции
      +navs.title-block__actions.hit-slider__navs
    .hit-slider__slider.swiper-container
      .swiper-wrapper
        a.not-link.hit-slider__slide.swiper-slide.card.card_news(href="#")
          .card__image
            img.swiper-lazy(data-src="assets/images/news-card/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            span.card__type Новость
            h4.card__title Открываемся
            span.card__date 23 июня 2020

        a.not-link.hit-slider__slide.swiper-slide.card.card_stock(href="#")
          .card__image
            img.swiper-lazy(data-src="assets/images/news-card/card2.jpg" src="/assets/images/pattern.png")
          .card__box
            span.card__type Новость
            h4.card__title Рибай — 400 г за 1850 рублей
            span.card__date 23 июня 2020

        .hit-slider__slide.swiper-slide.card.card_news
          .card__image
            img.swiper-lazy(data-src="assets/images/news-card/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            span.card__type Новость
            h4.card__title Открываемся
            span.card__date 23 июня 2020

        .hit-slider__slide.swiper-slide.card.card_news
          .card__image
            img.swiper-lazy(data-src="assets/images/news-card/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            span.card__type Новость
            h4.card__title Открываемся
            span.card__date 23 июня 2020

mixin services-slider
  .hit-slider.js-hit-slider
    .title-block
      .title-block__title
          span Мы предлагаем
          a.title-block__link(href="#") все услуги
      +navs.title-block__actions.hit-slider__navs
    .hit-slider__slider.swiper-container
      .swiper-wrapper
        .hit-slider__slide.swiper-slide.card.card_services
          .card__image
            img.swiper-lazy(data-src="assets/images/services/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Завтраки
            p.card__text Начинайте выходные дни в своем ритме.  Подаем завтраки с 12 до 16 дня.
            a.not-link.button.button_grey.button_mini.card__button(href="#") Подробнее

        .hit-slider__slide.swiper-slide.card.card_services
          .card__image
            img.swiper-lazy(data-src="assets/images/services/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Завтраки
            p.card__text Начинайте выходные дни в своем ритме.  Подаем завтраки с 12 до 16 дня.
            a.not-link.button.button_grey.button_mini.card__button(href="#") Подробнее

        .hit-slider__slide.swiper-slide.card.card_services
          .card__image
            img.swiper-lazy(data-src="assets/images/services/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Завтраки
            p.card__text Начинайте выходные дни в своем ритме.  Подаем завтраки с 12 до 16 дня.
            button.button.button_grey.button_mini.card__button Подробнее

        .hit-slider__slide.swiper-slide.card.card_services
          .card__image
            img.swiper-lazy(data-src="assets/images/services/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Завтраки
            p.card__text Начинайте выходные дни в своем ритме.  Подаем завтраки с 12 до 16 дня.
            button.button.button_grey.button_mini.card__button Подробнее


mixin journal-slider
  .hit-slider.js-hit-slider-on-mobile
    .title-block
      .title-block__title
          span Журнал
          a.title-block__link(href="#") все статьи
    .hit-slider__slider.swiper-container
      .swiper-wrapper.fgrid.fgrid_journal
        .hit-slider__slide.swiper-slide.card.card_journal
          .card__image
            img.lazy.swiper-lazy(data-src="assets/images/journal/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Азбука Гиннесса. Юбилей
            p.card__text Я писал уже в статье «Фунты», что 31 Декабря 1759 – дата отсчёта истории великой пивоварни, великого бренда, великого пива! Да, в прошедшем году Guinness...
            button.button.button_grey.button_mini.card__button Читать

        .hit-slider__slide.swiper-slide.card.card_journal
          .card__image
            img.lazy.swiper-lazy(data-src="assets/images/journal/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Азбука Гиннесса. Эдвард Гиннесс
            p.card__text Эдвард Гиннесс (10 Ноября 1847 – 7 Октября 1927) – полное имя Эдвард Сесил Гиннесс. Третий сын Бенджамина Гиннесса и правнук Артура Гиннесса...
            button.button.button_grey.button_mini.card__button Читать

        .hit-slider__slide.swiper-slide.card.card_journal
          .card__image
            img.lazy.swiper-lazy(data-src="assets/images/journal/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Азбука Гиннесса. Экспорт
            p.card__text Guinness Special Export, ещё известный как Antwerpen Stout – один из старейших экспортных сортов. Я упоминал о нём в статье «Европа»...
            button.button.button_grey.button_mini.card__button Читать

        .hit-slider__slide.swiper-slide.card.card_journal
          .card__image
            img.lazy.swiper-lazy(data-src="assets/images/journal/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Азбука Гиннесса. Эволюция
            p.card__text Эволюция, или точнее – «яицюловЭ». Этот гениальный рекламный ролик называют перевернутым словом Evolution – noitulovE. Сам ролик представляет из себя...
            button.button.button_grey.button_mini.card__button Читать

mixin journal-slider-without-title
  .hit-slider.js-hit-slider-on-mobile
    .hit-slider__slider.swiper-container
      .swiper-wrapper.fgrid.fgrid_journal
        .hit-slider__slide.swiper-slide.card.card_journal
          .card__image
            img.lazy.swiper-lazy(data-src="assets/images/journal/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Азбука Гиннесса. Юбилей
            p.card__text Я писал уже в статье «Фунты», что 31 Декабря 1759 – дата отсчёта истории великой пивоварни, великого бренда, великого пива! Да, в прошедшем году Guinness...
            button.button.button_grey.button_mini.card__button Читать

        .hit-slider__slide.swiper-slide.card.card_journal
          .card__image
            img.lazy.swiper-lazy(data-src="assets/images/journal/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Азбука Гиннесса. Эдвард Гиннесс
            p.card__text Эдвард Гиннесс (10 Ноября 1847 – 7 Октября 1927) – полное имя Эдвард Сесил Гиннесс. Третий сын Бенджамина Гиннесса и правнук Артура Гиннесса...
            button.button.button_grey.button_mini.card__button Читать

        .hit-slider__slide.swiper-slide.card.card_journal
          .card__image
            img.lazy.swiper-lazy(data-src="assets/images/journal/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Азбука Гиннесса. Экспорт
            p.card__text Guinness Special Export, ещё известный как Antwerpen Stout – один из старейших экспортных сортов. Я упоминал о нём в статье «Европа»...
            button.button.button_grey.button_mini.card__button Читать

        .hit-slider__slide.swiper-slide.card.card_journal
          .card__image
            img.lazy.swiper-lazy(data-src="assets/images/journal/card1.jpg" src="/assets/images/pattern.png")
          .card__box
            h4.card__title Азбука Гиннесса. Эволюция
            p.card__text Эволюция, или точнее – «яицюловЭ». Этот гениальный рекламный ролик называют перевернутым словом Evolution – noitulovE. Сам ролик представляет из себя...
            button.button.button_grey.button_mini.card__button Читать
