.card
  $card: &
  text-decoration: none
  &_hit
    #{$card}
      &__box
        padding: 28px 16px 16px
        & > *
          margin-bottom: 16px
          &:last-child
            margin-bottom: 0
  &_stock
    background-color: $g-color-primary-blue
    #{$card}
      &__type
        color: $g-color-accent-yellow
      &__title
        color: $g-color-white
      &__date
        color: $g-color-bg-grey
  &_services
    #{$card}
      &__image
        padding-bottom: 68%
      &__text
        font-size: pxtorem(15)
        margin-bottom: 16px
      &__button
        margin-top: auto
  &_journal
    display: flex
    #{$card}
      &__image
        flex-shrink: 0
        width: 180px
        // height: 100%
        padding-bottom: 0
      &__box
        padding: 24px 24px 24px 32px
      &__text
        font-size: pxtorem(15)
        margin-bottom: 16px
  &__image
    position: relative
    padding-bottom: 90%
    overflow: hidden
    background-color: $g-color-white
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
  &__box
    padding: 16px
    display: flex
    flex-direction: column
    align-items: flex-start
    & > *
      margin-bottom: 8px
      &:last-child
        margin-bottom: 0

  &__price
    display: inline-block
    color: $g-color-accent-red
    font-family: $g-font-family-type-mono
    font-size: pxtorem(24)
    font-weight: 500
    margin-right: 32px
  &__weight
    display: inline-block
    font-family: $g-font-family-type-mono
    font-size: pxtorem(20)
    font-weight: 400
    color: $g-color-dark-text-light
  &__title
    font-family: $g-font-family-type-merri
    font-weight: 700
  &__type
    display: inline-block
    font-family: $g-font-family-type-oswald
    font-weight: 500
    font-size: pxtorem(12)
    color: $g-color-dark-text-light
  &__date
    display: inline-block
    font-weight: 400
    font-size: pxtorem(12)
    color: $g-color-dark-text-light


@media (max-width: $g-breakpoint-desktop)
  .card
    $card: &
    &_hit
      #{$card}
        &__box
          padding: 16px
    &_journal
      flex-direction: column
      height: auto
      #{$card}
        &__image
          width: 120px
          height: 120px
        &__box
          padding: 16px 0
          height: 100%
        &__button
          margin-top: auto

