i.icon
  font-style: normal

.icon
  display: inline-flex
  align-items: center
  justify-content: center
  width: 24px
  height: 24px
  svg
    width: 100%
    height: 100%
  &_fill
    path
      fill: $g-color-dark-text
      transition: fill $g-transition-duration
  &_social
    padding: 2px
