extends ../layouts/default

block variables
  - var title = "О нас"
  - var pageClass = ''
  - var activePage = 'about'

block content
  section.section
    .container
      .breadcrumbs
        a.breadcrumbs__item(href="/") Гастропаб Челси
        span.breadcrumbs__separator /
        a.breadcrumbs__item(href="#") О нас
  section.section
    .container
      .big-title <span class="big-title__merri-italic">Просто</span> <span class="big-title__merri">английский паб…</span> <span class="big-title__sans big-title_blue-light">В МОСКВЕ</span>
  section.section.section_s
    .container
      +first-gallery
  section.section.section_m
    .container
      +rating
  section.section.section_l
    .container
      +awward
  section.section.section_l
    .container
      .article
        article
          h5 Многие отмечают наш интерьер и приятную атмосферу традиционного английского заведения, в которую можно окунуться даже ночью.
  section.section.section_l
    .container
      .fgrid.fgrid_gallery.gallery.js-lightgallery
        a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
  section.section.section_l
    .container
      .line.line_top.line_bottom
        +advantages
  section.section.section_l
    .container
      .article
        article
          h5 Может показаться, что 20 сортов пива — это не так уж много. Но это наше осознанное решение. Для нас важно качество, а не количество. Кроме того, мы регулярно проводим ротацию тап-листа, чтобы у вас всегда была возможность попробовать что-то новое. А ёщё, у нас очень вкусная еда.
  section.section.section_l
    .container
      +hit-slider
  section.section.section_l
    .container
      .line.line_top.line_bottom
        +reviews
  section.section.section_l
    .container
      .title-block
        .title-block__title
          span Частые вопросы
      .fgrid.fgrid_faq
        +faq
          | Which of the Seven Wonders of the world do you want to visit the most?
        +faq
          | Which of the Seven
        +faq
          | Which of the Seven Wonders of the world do you want to
        +faq
          | Which of the Seven Wonders of the world do you want to
        +faq
          | Which of the Seven Wonders of the world do you want to
  section.section.section_l
    .container
      +video
