extends ../layouts/default

block variables
  - var title = "Статья"
  - var pageClass = ''
  - var activePage = 'article'

block content
  section.section
    .container
      .breadcrumbs
        a.breadcrumbs__item(href="/") Гастропаб Челси
        span.breadcrumbs__separator /
        a.breadcrumbs__item(href="/magazine.html") Журнал
        span.breadcrumbs__separator /
        a.breadcrumbs__item(href="#") Обновленное меню: клубника и другие летние радости
  section.section
    .container
      .article
        mark Новость
        h1 Обновленное меню: клубника и другие летние радости
        img(src="assets/images/article.jpg")
        article
          h3 Что нового
          ul
            li Гаспачо с пюре из манго, подается с крабовым мясом, креветками и апельсином (650 р.)
            li Салат с ростбифом, рукколой, печеными овощами, белой фасолью и томатами (590 р.)
            li Салат с тунцом, печеным картофелем, томатами, стручковой и белой фасолью (590 р.)
            li Пончики с творожным сыром и клубничным соусом (280 р.)
            li Холодный суп из клубники с панна-коттой и соусом из лайма (420 р.)
        .article__slider.swiper-container.js-article-slider
          .swiper-wrapper
            .swiper-slide.article__slide
              img(src="assets/images/gallery/article1.jpg")
            .swiper-slide.article__slide
              img(src="assets/images/gallery/article1.jpg")
            .swiper-slide.article__slide
              img(src="assets/images/gallery/article1.jpg")
            .swiper-slide.article__slide
              img(src="assets/images/gallery/article1.jpg")
          +navs.article__navs

        .line.line_top
          article
            h6 Многие отмечают наш интерьер и приятную атмосферу традиционного английского заведения, в которую можно окунуться даже ночью.
        .line.line_top.line_bottom
          article
            p
              b Подробнее об обновленном меню
            p Традиционный испанский гаспачо получил авторское прочтение: к свежим томатам наш шеф добавил пюре из манго, а аккомпанементом служат крабовое мясо, креветки и апельсины.
            p Салат с ростбифом получился очень летним благодаря щедрой порции рукколы, печеным овощам, томатам и белой фасоли.
            p Салат с тунцом, печеным картофелем, томатами, стручковой и белой фасолью – отличная альтернатива наскучившему нисуазу.
            p Пончики с творожным сыром, подаются с клубничным соусом, свежей клубникой и мятой.
        .line.line_bottom
          .reviews.reviews_once
            .reviews__quote
              svg(viewBox="0 0 40 31" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M0 0.620117V15.6201H10C10 21.1701 5.55 25.6201 0 25.6201V30.6201C8.25 30.6201 15 23.8701 15 15.6201V0.620117H0ZM25 0.620117V15.6201H35C35 21.1701 30.55 25.6201 25 25.6201V30.6201C33.25 30.6201 40 23.8701 40 15.6201V0.620117H25Z")
            .reviews__pagination 1 / 1
            .reviews__item-inner
              h5.reviews__name Команда Chelsea GastroPub
              p.reviews__text Ждем на клубничку :)
  section.section.section_l
    .container
      +hit-slider

