extends ../layouts/default

block variables
  - var title = "Трансляция"
  - var pageClass = ''
  - var activePage = 'football'

block content
  section.section
    .container
      .breadcrumbs
        a.breadcrumbs__item(href="/") Гастропаб Челси
        span.breadcrumbs__separator /
        a.breadcrumbs__item(href="#") Футбол на большом экране
  section.section
    .container
      .article
        h1 Посмотреть футбол в баре в Москве
        +first-gallery
        .line.line_top.line_bottom
          article
            h6 Если Вы ищите место где можно посмотреть долгожданный футбольный матч на большом экране, то наш гастропаб Chelsea - отлично Вам подойдет
            button.button.button_accent.button_center Забронировать

        +matches

        article
          h3 Почему стоит придти на просмотр футбольных матчей в наш гастропаб?
          p Наш гастропаб Chelsea - это наверное одно из лучших мест в Москве для просмотра футбольных матчей в компании друзей на большом экране.
          p В нашем пабе отличная атмосфера для того, чтобы дать волю своим эмоциям, поддержать свою команду и насладиться футболом. Мы также, готовы предложить Вам широкий выбор потрясающих блюд и закусок на всю компанию, а наше барное меню ни оставит никого равнодушным. В нашем гастропабе несколько залов и Вы сможете выбрать где посмотреть футбол на большом экране - в маленьком зале с друзьями или в просторном вместе с другими болельщиками, чтобы зарядиться их энергией и настроением.
          p Помимо больших экранов, отличной еды и напитков у нас есть одна отличительная черта - это неповторимая атмосфера английского паба. Вы сможете посмотреть не только большие спортивные события, но и региональные футбольные матчи. Ждём Вас на простом футбольных матчей на большом экране в самом центре Москвы.

        .fgrid.fgrid_gallery
          .card.card_news.x1-3
            .card__image
              img(src="assets/images/news-card/card1.jpg")
            .card__box
              h4.card__title Большой зал
              span.card__date на 80 человек

          .card.card_news.x1-3
            .card__image
              img(src="assets/images/news-card/card1.jpg")
            .card__box
              h4.card__title Малый зал
              span.card__date на 25 человек

          .card.card_news.x1-3
            .card__image
              img(src="assets/images/news-card/card1.jpg")
            .card__box
              h4.card__title Красный зал
              span.card__date на 14 человек

        article
          p
            b Какие матчи можно посмотреть в нашем гастропабе?
          p Вы сможете посмотреть не только большие события в сфере футбола, хоккея и других видах спорта, но и чемпионаты Английской премьер лиги, России, Испании, Италии и многих других. Вы всегда можете позвонить нам и уточнить какая именно трансляция сегодня будет проходить на наших больших экранах. Как уже говорилось ранее, для комфортного просмотра Вы сможете выбрать один из нескольких залов в зависимости от Вашей компании и настроения. Зачастую мы даем анонс ближайших матчей и расписание показов на больших экранах в нашем гастропабе Chelsea.

  section.section.section_l
    .container
      .line.line_top.line_bottom
        +advantages
  section.section.section_l
    .container
      .fgrid.fgrid_gallery.gallery.js-lightgallery
        a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img(src="assets/images/gallery/g1.jpg", alt="")


