extends ../layouts/default

block variables
  - var title = "Галерея"
  - var pageClass = ''
  - var activePage = 'gallery'

block content
  section.section
    .container
      .breadcrumbs
        a.breadcrumbs__item(href="/") Гастропаб Челси
        span.breadcrumbs__separator /
        a.breadcrumbs__item(href="#") Галерея
  section.section
    .container
      .title-block
        .title-block__title.title-block__title_big Галерея
  section.section
    .container
      .tabs(data-tabs)
        nav.tabs__nav(data-tabs-head)
          span.tabs__tab(data-tabs-tab="0") Интерьер
          span.tabs__tab(data-tabs-tab="1") Кухня
          span.tabs__tab(data-tabs-tab="2") Бар
          span.tabs__tab(data-tabs-tab="3") Мероприятия
        .tabs__panels(data-tabs-body)
          .tabs__panel(data-tabs-panel='0')
            .fgrid.fgrid_gallery.gallery.js-lightgallery
              a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
                img.lazy(src="/assets/images/pattern.png" data-src="assets/images/gallery/g1.jpg", alt="")
              a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
                img.lazy(src="/assets/images/pattern.png" data-src="assets/images/gallery/g1.jpg", alt="")
              a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
                img.lazy(src="/assets/images/pattern.png" data-src="assets/images/gallery/g1.jpg", alt="")
              a.gallery__item(href="assets/images/gallery/g1.jpg")
                img.lazy(src="/assets/images/pattern.png" data-src="assets/images/gallery/g1.jpg", alt="")
              a.gallery__item(href="assets/images/gallery/g1.jpg")
                img.lazy(src="/assets/images/pattern.png" data-src="assets/images/gallery/g1.jpg", alt="")
              a.gallery__item(href="assets/images/gallery/g1.jpg")
                img.lazy(src="/assets/images/pattern.png" data-src="assets/images/gallery/g1.jpg", alt="")
              a.gallery__item(href="assets/images/gallery/g1.jpg")
                img.lazy(src="/assets/images/pattern.png" data-src="assets/images/gallery/g1.jpg", alt="")

          .tabs__panel(data-tabs-panel='1')
            .fgrid.fgrid_gallery.gallery.js-lightgallery
              a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
                img.lazy(src="/assets/images/pattern.png" data-src="assets/images/gallery/g1.jpg", alt="")
              a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
                img.lazy(src="/assets/images/pattern.png" data-src="assets/images/gallery/g1.jpg", alt="")
              a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
                img.lazy(src="/assets/images/pattern.png" data-src="assets/images/gallery/g1.jpg", alt="")
