extends ../layouts/default

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section.section
    .container
      .big-title <span class="big-title__merri-italic">Просто</span> <span class="big-title__merri">английский паб…</span> <span class="big-title__sans big-title_blue-light">В МОСКВЕ</span>
  section.section.section_s
    .container
      +first-gallery
  section.section.section_m
    .container
      +rating
  section.section.section_l
    +anchor('order-form')
    .container
      +block-form
  section.section.section_l
    .container
      .line.line_top.line_bottom
        +advantages
  section.section.section_l
    .container
      +hit-slider
  section.section.section_l
    .container
      +awward
  section.section.section_l
    .container
      +news-slider
  section.section.section_l
    .container
      .line.line_top.line_bottom
        +reviews
  section.section.section_l
    .container
      +services-slider
  section.section.section_l
    .container
      +journal-slider
  section.section.section_l
    .container
      +video
  section.section.section_l
    .container
      .title-block
        .title-block__title
          span Частые вопросы
      .fgrid.fgrid_faq
        +faq
          | Which of the Seven Wonders of the world do you want to visit the most?
        +faq
          | Which of the Seven
        +faq
          | Which of the Seven Wonders of the world do you want to
        +faq
          | Which of the Seven Wonders of the world do you want to
        +faq
          | Which of the Seven Wonders of the world do you want to
  section.section.section_l
    .container
      .title-block
        .title-block__title
          span Галерея
          a.title-block__link(href="#") все фото
      .fgrid.fgrid_gallery.gallery.js-lightgallery
        a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
          img.lazy(data-src="assets/images/gallery/g1.jpg" src="/assets/images/pattern.png" alt="")
        a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
          img.lazy(data-src="assets/images/gallery/g1.jpg" src="/assets/images/pattern.png" alt="")
        a.gallery__item.x1-3(href="assets/images/gallery/g1.jpg")
          img.lazy(data-src="assets/images/gallery/g1.jpg" src="/assets/images/pattern.png" alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img.lazy(data-src="assets/images/gallery/g1.jpg" src="/assets/images/pattern.png" alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img.lazy(data-src="assets/images/gallery/g1.jpg" src="/assets/images/pattern.png" alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img.lazy(data-src="assets/images/gallery/g1.jpg" src="/assets/images/pattern.png" alt="")
        a.gallery__item(href="assets/images/gallery/g1.jpg")
          img.lazy(data-src="assets/images/gallery/g1.jpg" src="/assets/images/pattern.png" alt="")
