extends ../layouts/default

block variables
  - var title = "Журнал"
  - var pageClass = ''
  - var activePage = 'magazine'

block content
  section.section
    .container
      .breadcrumbs
        a.breadcrumbs__item(href="/") Гастропаб Челси
        span.breadcrumbs__separator /
        a.breadcrumbs__item(href="#") Журнал
  section.section
    .container
      .title-block
        .title-block__title.title-block__title_big Журнал
  section.section
    .container
      .tabs(data-tabs class="tabs_magazine")
        nav.tabs__nav(data-tabs-head)
          span.tabs__tab(data-tabs-tab="0") Все
          span.tabs__tab(data-tabs-tab="1") Eat&Drink
          span.tabs__tab(data-tabs-tab="2") Азбука Гиннесса
          span.tabs__tab(data-tabs-tab="3") Виски
          span.tabs__tab(data-tabs-tab="4") Еда
          span.tabs__tab(data-tabs-tab="5") Пиво
          span.tabs__tab(data-tabs-tab="6") Рецепты
        .tabs__panels(data-tabs-body)
          .tabs__panel(data-tabs-panel='0')
            +journal-slider-without-title
          .tabs__panel(data-tabs-panel='1')
            +journal-slider-without-title
