extends ../layouts/default

block variables
  - var title = "Меню"
  - var pageClass = ''
  - var activePage = 'menu'

block content
  section.section
    .container
      .breadcrumbs
        a.breadcrumbs__item(href="/") Гастропаб Челси
        span.breadcrumbs__separator /
        a.breadcrumbs__item(href="#") Меню
  section.section
    .container
      .big-title <span class="big-title__merri-italic">Просто&nbsp;</span> <span class="big-title__merri">вкусная еда…</span> <span class="big-title__sans big-title_blue-light">И НАПИТКИ</span>
  section.section.section_m
    .container
      +promo-fluid
  section.section.section_m
    .container
      .tabs.tabs_menu(data-tabs)
          nav.tabs__nav(data-tabs-head)
            span.tabs__tab(data-tabs-tab="0") Основное меню
            span.tabs__tab(data-tabs-tab="1") Барная карта
            span.tabs__tab(data-tabs-tab="2") Завтрак
            span.tabs__tab(data-tabs-tab="3") Ланч
          .tabs__panels(data-tabs-body)
            .tabs__panel(data-tabs-panel='0')
              .menu
                .menu__fgrid.fgrid.fgrid_menu
                  .menu__fgrid-col.menu__fgrid-col_one
                    .menu__item
                      h3.menu__title Cалаты
                      .menu__box
                        h5.menu__name Цезарь
                        span.menu__price 490 &#8381
                        p.menu__description с куриным филе
                      .menu__box
                        h5.menu__name Цезарь
                        span.menu__price 690 &#8381
                      .menu__box
                        h5.menu__name Салат с тунцом
                        span.menu__price 590 &#8381
                        p.menu__description маринованным в апельсине, печеным картофелем, томатами, стручковой и белой фасолью
                        p.menu__description с тигровыми креветками
                      .menu__box
                        h5.menu__name <span>New</span> Салат с ростбифом
                        span.menu__price 690 &#8381
                        p.menu__description рукколой, печеными овощами, белой фасолью и томатами

                  .menu__fgrid-col.menu__fgrid-col_two
                    .menu__item
                      h3.menu__title Cалаты
                      .menu__box
                        h5.menu__name Цезарь
                        span.menu__price 490 &#8381
                        p.menu__description с куриным филе
                      .menu__box
                        h5.menu__name Цезарь
                        span.menu__price 690 &#8381
                      .menu__box
                        h5.menu__name Салат с тунцом
                        span.menu__price 590 &#8381
                        p.menu__description маринованным в апельсине, печеным картофелем, томатами, стручковой и белой фасолью
                        p.menu__description с тигровыми креветками
                      .menu__box
                        h5.menu__name <span>New</span> Салат с ростбифом
                        span.menu__price 690 &#8381
                        p.menu__description рукколой, печеными овощами, белой фасолью и томатами
                    .menu__item.menu__banner
                      .menu__banner-box
                        h3.menu__banner-title Дни пива
                        .menu__banner-time
                          span СУББОТА—ПОНЕДЕЛЬНИК
                          span 9:00—18:00
                        p.menu__banner-subtitle Закажите два больших бокала и получите третий в ПОДАРОК!
                      .menu__box
                        h5.menu__name Collin’s Impetial Stout
                        span.menu__price 390 &#8381
                      .menu__box
                        h5.menu__name Bayreuther Hell
                        span.menu__price 390 &#8381


                  .menu__fgrid-col.menu__fgrid-col_three
                    .menu__item
                      h3.menu__title Cалаты
                      .menu__box
                        h5.menu__name Цезарь
                        span.menu__price 490 &#8381
                        p.menu__description с куриным филе
                      .menu__box
                        h5.menu__name Цезарь
                        span.menu__price 690 &#8381
                      .menu__box
                        h5.menu__name Салат с тунцом
                        span.menu__price 590 &#8381
                        p.menu__description маринованным в апельсине, печеным картофелем, томатами, стручковой и белой фасолью
                        p.menu__description с тигровыми креветками
                      .menu__box
                        h5.menu__name <span>New</span> Салат с ростбифом
                        span.menu__price 690 &#8381
                        p.menu__description рукколой, печеными овощами, белой фасолью и томатами
  section.section.section_l
    .container
      .line.line_top.line_bottom
        +reviews
