.marks-block
  &__title
    display: block
    width: 100%
    font-family: $g-font-family-type-oswald
    margin-bottom: 8px
  &__marks
    display: flex
    align-items: center
    flex-wrap: wrap
  &__mark
    display: inline-block
    padding: 8px
    background-color: $g-color-bg-grey
    margin-right: 4px
    font-family: $g-font-family-type-mono
    font-weight: 600
    font-size: pxtorem(20)
    &_dark
      background-color: $g-color-dark
      color: $g-color-bg-grey
    &_transparent
      background-color: transparent


input.marks-block__mark
  border: none
  outline: none
  &_dark
    &::placeholder
      color: $g-color-bg-grey


@media (max-width: $g-breakpoint-tablet)
  .marks-block
    &__mark
      font-size: pxtorem(16)
    &__title
      font-size: pxtorem(14)
