.modal
  $modal: &
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: none
  justify-content: center
  align-items: center
  padding: 16px
  background-color: rgba(0, 0, 0, 0.45)
  z-index: 100
  overflow: auto
  backdrop-filter: blur(5px)
  &.show
    display: flex
    animation: fadeIn 0.2s ease-in-out forwards
    .modal__content
      animation: fadeIn 0.2s ease-in-out forwards
  &.hide
    animation: fadeOut 0.2s ease-in-out forwards
    .modal__content
      animation: fadeOut 0.2s ease-in-out forwards
  &__content
    display: flex
    margin: auto
    max-width: 100%
  [data-modal-close]
    cursor: pointer

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0


@media (max-width: $g-breakpoint-tablet)
  .modal

