mixin modal
  .modal-container

    .modal.modal_stock(data-modal="stock" data-src-modal)
      .modal__content
        +modal-template-stock

    .modal.modal_lanch(data-modal="lanch" data-src-modal)
      .modal__content
        +modal-template-lanch

    .modal.modal_order(data-modal="order" data-src-modal)
      .modal__content
        +form-order(true, 'form-order-modal')

    .modal.modal_order(data-modal="success" data-src-modal)
      .modal__content
        .status-box.status-box_success
          h2.status-box__text Ваша заявка принята. Мы перезвоним вам в ближайшее время.

    .modal.modal_order(data-modal="error" data-src-modal)
      .modal__content
        .status-box.status-box_error
          h2.status-box__text Заявка не отправлена. Проверьте правильность заполнения полей.
