header.header(class=activePage == 'index' ? 'header_main' : '')
  if (activePage == 'index')
    +promo-fluid
  .container
    .header__inner
      +header-logo.header__logo(href="/")
      .header__menu
        .header__opento.line.line_top.line_bottom
          .marks-block
            span.marks-block__title(data-end-time="title")
            .marks-block__marks
              span.marks-block__mark(data-end-time="hours") 00
              span.marks-block__mark(data-end-time="minutes") 00
        nav.header__nav
          a.header__nav-item.not-link(href='/menu.html' class=activePage == 'menu' ? 'is-active' : '') Меню
          a.header__nav-item.not-link(href='#' class=activePage == 'afisha' ? 'is-active' : '') Афиша
          a.header__nav-item.not-link(href='#' class=activePage == 'services' ? 'is-active' : '') Услуги
          a.header__nav-item.not-link(href='/about.html' class=activePage == 'about' ? 'is-active' : '') О нас
          a.header__nav-item.not-link(href='/gallery.html' class=activePage == 'gallery' ? 'is-active' : '') Галерея
          a.header__nav-item.not-link(href='/magazine.html' class=activePage == 'magazine' ? 'is-active' : '') Журнал
          a.header__nav-item.not-link(href='#' class=activePage == 'contacts' ? 'is-active' : '') Контакты
        .header__contacts
          a.header__contact(href="tel:+7 495 877-48-57") +7 495 877-48-57
      a.header__lang(href="#2") Ru
      button.humburger.header__humburger.js-humburger(href="#")
        .humburger__open
          <svg viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.333008 0H21.6663V2.66667H0.333008V0ZM5.66634 6.66667H21.6663V9.33333H5.66634V6.66667ZM12.333 13.3333H21.6663V16H12.333V13.3333Z" fill="black"/>
          </svg>
        .humburger__close
          <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.67391 9.00001L0.836914 15.837L2.16291 17.163L8.99991 10.326L15.8369 17.163L17.1629 15.837L10.3259 9.00001L17.1629 2.16301L15.8369 0.837006L8.99991 7.67401L2.16291 0.837006L0.836914 2.16301L7.67391 9.00001Z" fill="#010F14"/>
          </svg>
      button.button.button_accent.header__booking(data-modal-target="order") Забронировать
