.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  $header: &
  box-shadow: $g-shadow-medium
  background-color: $g-color-white
  z-index: 10
  &__logo
    padding: 24px 12px
    margin-right: 64px
    .logo__title
      path
        fill: $g-color-dark-text
    .logo__subtitle
      display: none
  &_main
    box-shadow: none
    #{$header}__logo
      background-color: $g-color-primary-blue
      .logo__title
        margin-bottom: 8px
        path
          fill: $g-color-white
      .logo__subtitle
        display: block
        background-color: $g-color-dark-text
        padding: 8px 24px
        width: 100%
  &.is-sticky
    box-shadow: $g-shadow-medium
    .promo
      margin-top: -98px

  &__inner
    display: flex
    align-items: center
  &__menu
    flex-grow: 1
    display: flex
    align-items: center
    justify-content: space-between
    margin-right: 32px
  &__nav
    display: flex
    align-items: center
    flex-wrap: wrap
    margin-bottom: -8px
    &-item
      margin-right: 32px
      margin-bottom: 8px
      text-decoration: none
      opacity: 0.45
      font-weight: 500
      transition: opacity $g-transition-duration
      &.is-active
        opacity: 1
        pointer-events: none
      &:hover
        opacity: 1
  &__contacts
    margin-left: auto
  &__contact,
  &__lang
    text-decoration: none
    font-weight: 500
    white-space: nowrap
  &__lang
    margin-right: 32px
  &__humburger,
  &__opento
    display: none


@media (max-width: $g-breakpoint-laptop)
  .header
    &__logo
      margin-right: 32px
    &__menu,
    &__lang
      margin-right: 16px

@media (max-width: $g-breakpoint-desktop)
  .header
    &_main
      .header__inner
        padding: 0
    &__logo
      padding: 12px
      margin-right: 16px
    &__inner
      padding: 12px 0
    &__nav-item
      margin-right: 16px
    &_main
      .header__logo
        .logo__subtitle
          padding: 8px 12px

@media (max-width: $g-breakpoint-tablet)
  .header
    &__logo
      padding: 12px 6px
      margin: 0 auto
      z-index: 11
    &__lang
      order: -1
      margin: 0
      z-index: 11
      min-width: 32px
    &__menu
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 10
      background-color: $g-color-white
      background-image: url('../images/modal-template-bg.jpg')
      background-size: 102%
      background-position: center
      overflow: hidden
      transform: translateY(-100%)
      transition: $g-transition-duration*2
      padding: 56px 0 44px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
    &__contacts
      order: -1
      margin: 0
      margin-bottom: 16px
    &__nav
      flex-direction: column
      flex-wrap: nowrap
      align-items: center
      &-item
        margin-right: 0
        margin-bottom: 24px
        opacity: 0.8
    &__booking
      display: none
    &__humburger
      display: flex
      z-index: 11
    &__opento
      display: flex
      width: 140px
      justify-content: center
      margin-bottom: 24px
      padding: 16px 0
      text-align: center
    &_main
      .header__logo
        .logo__subtitle
          padding: 4px 12px
        .logo__title
          margin-bottom: 4px

    &.is-humburger
      .promo
        margin-top: -56px
      .header__menu
        transform: translateY(0%)
    &.is-sticky
      .promo
        margin-top: -56px
