include promo/index
include logo/index
include first-gallery/index
include rating/index
include advantages/index
include navs/index
include hit-slider/index
include awward/index
include reviews/index
include services/index
include journal/index
include video/index
include faq/index
include social/index
include matches/index
include menu/index
include block-form/index
include form/index
include modal/index
include modal-template/index
include bottom-box/index
include anchor/index
