.bottom-box
  display: none
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 44px
  justify-content: space-between
  z-index: 20
  background-color: $g-color-white
  &__button
    height: 100%
  &__inner
    display: flex
    padding-left: 16px
  &__item
    display: flex
    align-items: center
    justify-content: center
    width: 44px
    height: 44px
    padding: 8px
    img
      width: 100%
      height: 100%

@media (max-width: $g-breakpoint-tablet)
  .bottom-box
    display: flex
