mixin bottom-box
  .bottom-box
    .bottom-box__inner
      a.bottom-box__item
        i.icon.bottom-box__icon
          img.lazy(data-src="/assets/images/icons/whatsapp.svg" src="/assets/images/pattern.png" alt="")
      a.bottom-box__item
        i.icon.bottom-box__icon
          img.lazy(data-src="/assets/images/icons/delivery.svg" src="/assets/images/pattern.png" alt="")
      a.bottom-box__item
        i.icon.bottom-box__icon
          img.lazy(data-src="/assets/images/icons/location.svg" src="/assets/images/pattern.png" alt="")
      a.bottom-box__item
        i.icon.bottom-box__icon
          img.lazy(data-src="/assets/images/icons/phone.svg" src="/assets/images/pattern.png" alt="")
    button.button.button_accent.bottom-box__button(data-modal-target="order") Забронировать
