mixin first-gallery
  .first-gallery&attributes(attributes)
    img.lazy.first-gallery__image(src="/assets/images/pattern.png" data-src="assets/images/first-gallery/image1.jpg")
    img.lazy.first-gallery__image(src="/assets/images/pattern.png" data-src="assets/images/first-gallery/image2.jpg")
    img.lazy.first-gallery__image(src="/assets/images/pattern.png" data-src="assets/images/first-gallery/image3.jpg")
