.first-gallery
  display: flex
  display: grid
  grid-gap: 24px
  grid-template-columns: 1.3fr 1fr 0.6fr
  &__image
    width: 100%
    height: 220px
    object-fit: cover
    object-position: center


@media (max-width: $g-breakpoint-laptop)
  .first-gallery
    &__image
      height: 180px

@media (max-width: $g-breakpoint-tablet)
  .first-gallery
    grid-gap: 8px
    &__image
      height: 120px

@media (max-width: $g-breakpoint-mobile)
  .first-gallery
    &__image
      height: 100px
