.section
  & + .section
    margin-top: 32px
  & + .section_s
    margin-top: 24px
  & + .section_m
    margin-top: 56px
  & + .section_l
    margin-top: 80px


@media (max-width: $g-breakpoint-tablet)
  .section
    & + .section
      margin-top: 24px
    & + .section_s
      margin-top: 16px
    & + .section_m
      margin-top: 40px
    & + .section_l
      margin-top: 56px
