.footer
  background-color: $g-color-bg-grey
  &__top,
    padding: 48px 0
  &__bottom
    padding: 24px 0
    border-top: 1px solid rgba($g-color-dark-text, 0.15)
  &__logo
    font-family: $g-font-family-type-merri
    font-size: pxtorem(88)
    font-weight: 900
    text-align: center
    margin-bottom: 48px
  &__lists
    display: flex
    // align-items: flex-start
  &__list
    list-style: none
    max-width: 100%
    width: 190px
    margin-right: 72px
    &_contacts
      position: relative
      margin-left: 72px
      margin-right: 0
      width: auto
      &::before
        position: absolute
        top: 0
        left: -72px
        content: ''
        display: inline-block
        width: 1px
        height: 100%
        background-color: $g-color-dark-text
        opacity: 0.15

    p
      font-family: $g-font-family-type-oswald
      font-size: pxtorem(18)
      font-family: 600
    a
      text-decoration: none
    & > *
      margin-bottom: 12px
      &:last-child
        margin-bottom: 0
  &__copy
    font-size: pxtorem(14)
    text-align: center
    opacity: 0.5


@media (max-width: $g-breakpoint-desktop)
  .footer
    &__logo
      font-size: pxtorem(48)
    &__lists
      flex-wrap: wrap
      margin-bottom: -24px
    &__list
      margin-bottom: 24px
      &_contacts
        width: 100%
        margin: 0 0 24px
        order: -1
        padding-bottom: 24px
        border-bottom: 1px solid rgba($g-color-dark-text, 0.15)
    &__copy
      text-align: left

@media (max-width: $g-breakpoint-tablet)
  .footer
    padding-bottom: 44px
    &__logo
      font-size: pxtorem(32)
    &__list
      margin: 0 0 24px
      width: 100%
