.footer
  .container
    .footer__inner
      .footer__top
        p.footer__logo Chelsea GastroPub
        .footer__lists
          ul.footer__list
            p Меню
            li
              a(href="#") Гриль-бар
            li
              a(href="#") Стейк бар
            li
              a(href="#") Супы
            li
              a(href="#") Горячие блюда
            li
              a(href="#") Бизнес-ланч
            li
              a(href="#") Барное меню
            li
              a(href="#") Виски бар
          ul.footer__list
            p Услуги
            li
              a(href="#") Корпоратив
            li
              a(href="#") День рождения
            li
              a(href="#") Банкет
            li
              a(href="#") Спортивные трансляции
            li
              a(href="#") Ресторан на 14 февраля
          ul.footer__list
            p О нас
            li
              a(href="#") Отзывы
            li
              a(href="#") Футбол на большом экране
            li
              a(href="#") Английская кухня
            li
              a(href="#") Пивной ресторан
          ul.footer__list.footer__list_contacts
            p Контакты
            li
              a(href="tel:+7 495 877-48-57") +7 495 877-48-57
            li Малый Гнездниковский пер. 12/27
            li
              a(href="mailto:pub.chelsea@mail.ru") pub.chelsea@mail.ru
            +social
      .footer__bottom
        p.footer__copy © 2014 – 2020, Гастропаб Челси | ИНН 7706289027 | КПП 771001001

