.big-title
  font-size: pxtorem(104)
  &_blue-light
    color: $g-color-primary-blue-light
  &__sans
    font-family: $g-font-family-type-sans
    font-weight: 700
  &__merri
    font-family: $g-font-family-type-merri
    font-weight: 900
    &-italic
      font-family: $g-font-family-type-merri
      font-style: italic


@media (max-width: $g-breakpoint-laptop)
  .big-title
    font-size: pxtorem(86)

@media (max-width: $g-breakpoint-desktop)
  .big-title
    font-size: pxtorem(64)

@media (max-width: $g-breakpoint-tablet)
  .big-title
    font-size: pxtorem(32)
