.modal-template
  position: relative
  max-width: 100%
  max-height: 100%
  width: 644px
  background-color: $g-color-white
  padding: 40px 32px
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04)
  background-image: url('../images/modal-template-bg.jpg')
  &__close
    position: absolute
    top: 0
    right: 0
    outline: none
    img
      width: 100%
  &__note
    position: absolute
    top: 24px
    left: 32px
    display: flex
    flex-direction: column
    align-items: flex-start
    font-size: pxtorem(12)
    font-family: $g-font-family-type-oswald
    color: $g-color-bg-grey
    span
      margin-bottom: 4px
  &__heading
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    font-family: $g-font-family-type-merri
    font-size: pxtorem(18)
    text-transform: uppercase
    img
      position: absolute
      top: -24px
      left: 50%
      transform: translateX(-50%)
    span
      z-index: 1
      &:last-child
        font-size: pxtorem(32)
        font-weight: 700
  &__title
    width: 100%
    font-family: $g-font-family-type-oswald
    font-size: pxtorem(48)
    line-height: 1
    font-weight: 500
    text-align: center
    padding: 8px 0
    border-top:  1px solid $g-color-dark-text-light
    border-bottom:  1px solid $g-color-dark-text-light
    margin-bottom: 16px
    text-transform: uppercase
  &__subtitle
    width: 100%
    font-family: $g-font-family-type-oswald
    font-size: pxtorem(22)
    line-height: 1
    font-weight: 500
    text-align: center
    margin-bottom: 16px
    text-transform: uppercase
  &__box
    display: flex
  &__main
    width: 58%
    & > img
      width: 100%
      margin-bottom: 24px
  &__submain
    width: 42%
    padding-left: 24px
    & > img
      width: 100%
      margin-bottom: 16px
    .modal-template__info
      color: $g-color-dark-text-light
      &-title
        font-size: pxtorem(14)
        line-height: 20px
      &-text
        font-size: pxtorem(12)
  &__info
    &-title
      font-family: $g-font-family-type-merri
      font-size: pxtorem(18)
      font-weight: 900
      border-bottom: 1px solid $g-color-dark-text-light
      padding-bottom: 8px
      margin-bottom: 8px
    &-text
      text-indent: 16px
    &-button
      margin-top: 24px
  &__footer
    margin-top: 22px
    padding: 16px 0 0
    border-top: 1px solid $g-color-dark-text-light
    text-align: right
    font-family: $g-font-family-type-oswald
    font-size: pxtorem(12)
    font-weight: 500
    & > *
      margin-left: 16px
    a
      text-decoration: none


@media (max-width: $g-breakpoint-tablet)
  .modal-template
    padding: 24px 16px
    &__note
      top: 8px
      left: 8px
    &__title
      font-size: pxtorem(24)
    &__subtitle
      font-size: pxtorem(16)
    &__box
      flex-wrap: wrap
    &__main
      width: 100%
    &__submain
      width: 100%
      padding: 16px 0 0
      margin: 16px 0 0
      border-top: 1px solid $g-color-dark-text-light
