mixin modal-template-stock
  .modal-template
    button.modal-template__close(type="button" data-modal-close)
      img(src="/assets/images/modal-close.png")
    .modal-template__note
      span Ежененедельный вестник
      span 20.08.20
      span №1
    .modal-template__heading
      img(src="/assets/images/modal-logo.svg")
      span the
      span Сhelsea Times
    h2.modal-template__title Внимание, акция!
    h3.modal-template__subtitle скидка 20% на один сорт пива из нашего ассортимента
    .modal-template__box
      .modal-template__main
        img(src="/assets/images/modal/img_1.jpg")
        .modal-template__info
          h5.modal-template__info-title Дорогие друзья
          p.modal-template__info-text Мы запустили акцию: теперь <b>ежедневно, с 12 дня до 5 утра мы делаем скидку 20%</b> на один сорт пива из нашего ассортимента. Какое именно это будет пиво будем решать каждое утро с помощью жребия
          button.button.button_accent.modal-template__info-button Хочу знать подробности!
      .modal-template__submain
        img(src="/assets/images/modal/img_2.jpg")
        .modal-template__info
          h5.modal-template__info-title Как устроен английский паб?
          p.modal-template__info-text Пабы существуют в Англии уже свыше двух тысяч лет – со времен, когда первые римляне посетили британские острова и открыли там свои таверны. Изначально в них продавали еду и различные вина, однако эпохи сменяли друг друга, и концепция «общественных домов» также менялась. В Средневековье это были места, где гостям предлагались традиционные английские эли, затем они превратились в пивные и, наконец, стали трактирами – придорожными домами.
    .modal-template__footer
      span Малый Гнездниковский пер. 12/27, стр 2/3
      a(href="tel:+74958774857") +7 495 877-48-57

mixin modal-template-lanch
  .modal-template
    button.modal-template__close(type="button" data-modal-close)
      img(src="/assets/images/modal-close.png")
    .modal-template__heading
      img(src="/assets/images/modal-logo.svg")
      span the
      span Сhelsea Times
    h2.modal-template__title Мы предлагаем
    h3.modal-template__subtitle Бизнес-ланч в центре Москвы
    .modal-template__box
      .modal-template__main
        img(src="/assets/images/modal/img_1.jpg")
        .modal-template__info
          h5.modal-template__info-title Дорогие друзья
          p.modal-template__info-text Мы запустили акцию: теперь <b>ежедневно, с 12 дня до 5 утра мы делаем скидку 20%</b> на один сорт пива из нашего ассортимента. Какое именно это будет пиво будем решать каждое утро с помощью жребия
          button.button.button_accent.modal-template__info-button Хочу знать подробности!
      .modal-template__submain
        img(src="/assets/images/modal/img_2.jpg")
        .modal-template__info
          h5.modal-template__info-title Как устроен английский завтрак?
          p.modal-template__info-text Туманный Альбион ассоциируется у всего мира не только с часами Биг-Бен, двухэтажными красными автобусами и такого же цвета телефонными будками, полуденными чаепитиями, но и традициями. А одной из главных гастрономических традиций Англии всегда был завтрак.
          p.modal-template__info-text Ещё во времена викторианской эпохи знатные семьи аристократического рода распространили в своих узких кругах один обычай: плотный завтрак – залог хорошего дня.
    .modal-template__footer
      span Малый Гнездниковский пер. 12/27, стр 2/3
      a(href="tel:+74958774857") +7 495 877-48-57
