.breadcrumbs
  font-size: pxtorem(14)
  color: $g-color-dark-text-light
  &__item
    text-decoration: none
    &:last-of-type
      color: $g-color-dark-text
      pointer-events: none
  &__separator
    padding: 0 8px
