include ../components/components
block variables

- var activePage = activePage

doctype html
html(lang="ru-RU")
  head
    meta(charset="utf-8")
    title #{title}
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible' content="IE = edge")
    <![endif]-->
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="keywords" content="")

    <!--favicon-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--favicon end-->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700;900&family=IBM+Plex+Sans:wght@300;400;500;600;700;900&family=Merriweather:wght@300;400;700;900&family=Oswald:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
    <!-- Google Fonts end -->

    link(rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css")
    link(rel="stylesheet" type='text/css' href="assets/css/libs.min.css")
    link(rel="stylesheet" type='text/css' href="assets/css/main.css")

    <!--[if lt IE 9]>
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js")
    <![endif]-->
  body(class=pageClass)
    .page
      include ../components/header/index
      main.main
        block content
      include ../components/footer/index
    +modal
    +bottom-box
    script(src="https://cdn.jsdelivr.net/npm/flatpickr")
    script(src="https://npmcdn.com/flatpickr/dist/l10n/ru.js")
    script(src="assets/js/libs.min.js")
    script(src="assets/js/main.js")
    block script
