.status-box
  max-width: 100%
  width: 600px
  padding: 32px
  font-size: pxtorem(24)
  background-color: $g-color-white
  border: 1px solid $g-color-bg-grey
  box-shadow: $g-shadow-medium
  &_success
    border-top: 4px solid green
  &_error
    border-top: 4px solid red

@media (max-width: $g-breakpoint-tablet)
  .status-box
    font-size: pxtorem(18)
    padding: 16px
