.title-block
  $titleblock: &
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-bottom: 48px
  &__title
    font-family: $g-font-family-type-merri
    font-size: pxtorem(48)
    font-weight: 800
    text-decoration: none
    &_big
      font-size: pxtorem(56)
      font-weight: 900
  &__link
    display: inline-block
    font-size: pxtorem(24)
    text-decoration: none
    margin-top: -8px
    &:hover::before
      color: $g-color-dark-text
    &::before
      content: '/'
      display: inline-block
      padding: 0 12px
      pointer-events: none
      transition: color $g-transition-duration
  &__actions
    margin-left: auto
    margin-top: 12px


@media (max-width: $g-breakpoint-tablet)
  .title-block
    margin-bottom: 24px
    &__title
      font-size: pxtorem(24)
    &__actions
      display: none
    &__link
      font-size: pxtorem(16)
